.taka-theme {
  table {
    .item-image {
      width:25px;
      height: auto;
    }

    th {
      text-align: left;
    }

    tr {
      td {
        text-align: left;
        vertical-align: center;

        .item-image {
          width:25px;
          height: auto;
        }
      }
    }
  }
}
