@import 'styles/less/taka-theme/globals/variables';

@navHeight: 30px;
@headerHeight: 100px;
@detailsHeight: 40px;

/* ----------------------------------------- */
/*  All Earthdawn Apps                           */
/* ----------------------------------------- */

.taka-theme {
  .window-content {
    font-size: 13px;
  }

  .max-height {
    height: 100% !important;
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  .overflow-y {
    overflow-y: scroll;
  }

  // Item Sheet form fields
  input[type='text'],
  input[type='number'],
  select {
    height: calc(100% - 2px);
    border: 1px solid @colorTan;
    background: rgba(0, 0, 0, 0.05);
    color: @colorDark;
  }

  // Hovered Fields
  input[type='text'],
  input[type='number'] {
    &:hover,
    &:focus {
      border: 1px solid #111;
      box-shadow: 0 0 8px red;
    }
  }

  // Disabled Fields
  input:disabled,
  select:disabled,
  textarea:disabled {
    color: @colorOlive;
    border: 1px solid transparent !important;
    outline: none !important;
    &:hover,
    &:focus {
      box-shadow: none !important;
      border: 1px solid transparent !important;
      outline: none !important;
    }
  }

  // Buttons
  button {
    background: rgba(0, 0, 0, 0.1);
    border: @borderGroove;
  }

  /* Form Groups */
  .form-group {
    label {
      flex: 2;
      color: @colorOlive;
      font-weight: bold;
    }
    .form-fields {
      > * {
        margin: 0 3px 0 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  // Stacked Groups
  .form-group.stacked {
    > label {
      flex: 0 0 100%;
      margin: 0;
    }
    label.checkbox,
    label.radio {
      flex: auto;
      text-align: left;
    }
  }

  // Form Headers
  .form-header {
    margin: 0 0 0.25em 0;
    padding: 2px 0;
    border-top: @borderGroove;
    border-bottom: @borderGroove;
  }

  .hidden-stretch {
    flex-direction: column;
    flex: 0;
    width: 100%;
    display: contents;
  }
}

/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */

.taka-theme {
  .window-content {
    overflow-y: hidden;
    padding: 5px;
    font-size: 13px;
    color: @colorDark;

    form {
      height: 100%;
      overflow: hidden;
    }

    .tab {
      height: 100%;
      overflow-y: auto;
      align-content: flex-start;
    }
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  // Input Fields
  input[type='text'],
  input[type='number'] {
    font-size: 15px;
    background: none;
    border: 1px solid transparent;
    &:hover,
    &:focus {
      border: 1px solid #111;
    }
  }

  // Select Fields
  select {
    font-family: 'WarhorseDIY', serif;
    flex: 1;
    font-size: 12px;
    height: 22px;
    background: transparent;
  }

  // Rollable Titles
  .editable .rollable:hover {
    cursor: pointer;
  }
  .editable h4.rollable:hover,
  .editable .rollable:hover > h4 {
    color: #000;
    text-shadow: 0 0 10px red;
  }

  // Separators
  span.sep {
    flex: none;
    margin: 0 1px;
    display: inline;
    position: relative;
    color: @colorTan;
    font-weight: normal;
  }

  i.border {
    border: @borderGroove;
  }

  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */

  .editor {
    height: 100%;
    .tox-toolbar-overlord,
    .tox-toolbar__primary {
      background: none;
    }
    .tox-tinymce {
      height: 100% !important;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    flex: 0 0 @headerHeight;
    border-bottom: @borderGroove;

    /* Character Name */
    h1 {
      flex: 1;
      border-bottom: none;
      height: 60px;
      margin: 0;
      padding: 5px;

      input {
        display: block;
        height: 50px;
        font-size: 32px;
        margin: 0;
      }
    }

    /* Profile Image */
    img.profile {
      flex: 0 0 @headerHeight;
      max-width: @headerHeight;
      height: @headerHeight;
      object-fit: contain;
      border: none;
      border-right: @borderGroove;
    }

    /* Header Summary Details */
    .summary {
      flex: 0 0 100%;
      height: @detailsHeight;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: @borderGroove;
      border-bottom: @borderGroove;

      li {
        height: calc(100% - 6px);
        float: left;
        margin: 2px 0;
        padding: 0;
        border-right: @borderGroove;
        line-height: 34px;
        color: @colorOlive;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */

  .sheet-navigation {
    flex: 0 0 @navHeight;
    margin-bottom: 5px;

    .item {
      height: 30px;
      line-height: 32px;
      margin: 0 24px;
      border-bottom: 3px solid @colorBeige;

      &.active {
        border-bottom: 3px solid @colorCrimson;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */

  .sheet-body {
    flex: 1;
    overflow: scroll;
  }

  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */

  .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: @colorTan;

    // Child lists
    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    // Item Name
    .item-name-css {
      flex: 2;
      margin: 0;
      overflow: hidden;
      font-size: 13px;
      text-align: left;
      align-items: center;
      h3,
      h4 {
        margin: 0;
        white-space: nowrap;
        overflow-x: hidden;
      }
    }

    // Control Buttons
    .item-controls {
      flex: 0 0 60px;
      justify-content: space-between;

      a {
        font-size: 12px;
        text-align: center;
      }

      button {
        font-size: 10px;
        font-family: 'WarhorseDIY', serif;
      }
    }

    // Individual Item
    .item {
      align-items: center;
      padding: 0 2px; // to align with the header border
      border-bottom: 1px solid @colorFaint;
      &:last-child {
        border-bottom: none;
      }
      .item-name-css {
        color: @colorDark;
        .item-image {
          flex: 0 0 30px;
          height: 30px;
          background-size: 30px;
          border: none;
          margin-right: 5px;
        }
      }
    }

    // Section Header
    .items-header {
      height: 28px;
      margin: 2px 0;
      padding: 0;
      align-items: center;
      background: rgba(0, 0, 0, 0.05);
      border: @borderGroove;
      font-weight: bold;
      > * {
        font-size: 12px;
        text-align: center;
      }
      h3 {
        padding-left: 5px;
        text-align: left;
        font-size: 16px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Actor Type Config Sheet Specifically     */
  /* ----------------------------------------- */

  .actor-type {
    .trait-list {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: 50%;
        flex-grow: 1;
      }
      li.form-group {
        flex-basis: 100%;
      }
    }
    label.radio {
      display: flex;
      flex: auto;
      font-size: 12px;
      line-height: 20px;
      font-weight: normal;
      > input[type='radio'] {
        margin: 0 5px 0 0;
      }
    }
    li.custom-type input[type='radio'] {
      display: none;
    }
  }
}


// Alignment styles.
.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.no-margin {
  margin: 0 !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.centered {
  text-align: center !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}
