<form class="disciplin {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
        <div>
            <div>
                <select name="data.discipline" value="{{data.discipline}}" >
                    {{#select data.discipline}}
                        <option value="discipline">{{localize "earthdawn.d.discipline"}}</option>
                        <option value="path">{{localize "earthdawn.p.path"}}</option>
                        <option value="questor">{{localize "earthdawn.q.questor"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="discipline">
            {{#if (eq data.discipline "discipline")}}
            <div class="durability">
                <div class="discipline-circle partial-two">
                    <label>{{localize "earthdawn.c.circle"}}</label>
                    <input type="text" name="data.circle" value={{data.circle}} data-type="number">
                </div>
                <div class="partial-two">
                    <label>{{localize "earthdawn.d.durability"}}</label>
                    <input type="text" name="data.durability" value={{data.durability}} data-type="number">
                </div>
            </div>
            {{/if}}
            <!-- path left -->
            {{#if (eq data.discipline "path")}}
            <div class="path-reference">
                <div class="path-circle partial-two">
                    <label>{{localize "earthdawn.r.rank"}}</label>
                    <input type="text" name="data.circle" value={{data.circle}} data-type="number">
                </div>
                <div class="partial-two">
                <label>{{localize "earthdawn.d.discipline"}}</label>
                <div class="disciplin"> 
                    <!--needs adjustment to reference actor data -->
                    <select name="data.relatedDiscipline" value={{data.relatedDiscipline}}>
                        {{#select data.relatedDiscipline}}
                        <option value="none">{{localize "earthdawn.n.none"}}</option>
                        <option value="Air Sailor">{{localize "earthdawn.d.disciplineAirSailor"}}</option>
                        <option value="Archer">{{localize "earthdawn.d.disciplineArcher"}}</option>
                        <option value="Beastmaster">{{localize "earthdawn.d.disciplineBeastmaster"}}</option>
                        <option value="Cavalryman">{{localize "earthdawn.d.disciplineCavalryman"}}</option>
                        <option value="Elementalist">{{localize "earthdawn.d.disciplineElementalist"}}</option>
                        <option value="Illusionist">{{localize "earthdawn.d.disciplineIllusionist"}}</option>
                        <option value="Nethermancer">{{localize "earthdawn.d.disciplineNethermancer"}}</option>
                        <option value="Scout">{{localize "earthdawn.d.disciplineScout"}}</option>
                        <option value="Sky Raider">{{localize "earthdawn.d.disciplineSkyRaider"}}</option>
                        <option value="Swordmaster">{{localize "earthdawn.d.disciplineSwordmaster"}}</option>
                        <option value="Thief">{{localize "earthdawn.d.disciplineThief"}}</option>
                        <option value="Troubadour">{{localize "earthdawn.d.disciplineTroubadour"}}</option>
                        <option value="Warrior">{{localize "earthdawn.d.disciplineWarrior"}}</option>
                        <option value="Weaponsmith">{{localize "earthdawn.d.disciplineWeaponsmith"}}</option>
                        <option value="Wizard">{{localize "earthdawn.d.disciplineWizard"}}</option>
                        {{/select}}
                    </select>   
                </div>
            </div>
            {{/if}}
            <!-- questor left -->
            {{#if (eq data.discipline "questor")}}
            <div class="questor-reference">
                <div class="questor-circle partial-two">
                    <label>{{localize "earthdawn.r.rank"}}</label>
                    <input type="text" name="data.circle" value={{data.circle}} data-type="number">
                </div>
                <div class="partial-two">
                    <label></label>
                    
                </div>
            </div>
            {{/if}}
            <!-- navigator left -->
            <div class="navigatorDisciplin">
                <nav class="sheet-tabs tabs navDisciplin" data-group="primary">
                    <ul class="list">
                        <li><a class="tabID navDisciplinList" data-tab="disciplinInformation">{{localize "earthdawn.i.information"}}</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="disciplinValues">{{localize "earthdawn.g.gameInfo"}}</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle1">
                            {{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            1</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle2">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            2</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle3">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            3</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle4">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            4</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle5">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            5</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle6">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            6</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle7">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            7</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle8">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            8</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle9">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            9</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle10">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            10</a></li>
                        {{#unless (eq data.discipline "path")}}
                        <li><a class="tabID navDisciplinList" data-tab="circle11">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            11</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle12">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            12</a></li>
                        {{/unless}}
                        {{#if (eq data.discipline "discipline")}}
                        <li><a class="tabID navDisciplinList" data-tab="circle13">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            13</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle14">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            14</a></li>
                        <li><a class="tabID navDisciplinList" data-tab="circle15">{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                            {{else}}
                            {{localize "earthdawn.r.rank"}}
                            {{/if}}
                            15</a></li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
            <div class="sheet-body nav-discipline-tabBody">
                <!-- information -->
                <div class="tab nav-discipline-tab disciplinInformation" data-group="primary" data-tab="disciplinInformation">
                    <div class="flexColumn nav-discipline-tab informationTab">
                        <h3>{{localize "earthdawn.i.information"}}</h3>
                        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                    </div>
                </div>
                <div class="tab nav-discipline-tab disciplinValues" data-group="primary" data-tab="disciplinValues">
                    <div class="flexColumn disciplinValuesTab">
                        <h3>{{localize "earthdawn.g.gameInfo"}}</h3>
                        {{editor content=data.descriptionGameInfo target="data.descriptionGameInfo" button=true owner=owner editable=editable}}
                    </div>
                </div>


                <!-- Circle 1 -->
                <div class="tab nav-discipline-tab circle1" data-group="primary" data-tab="circle1">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            1</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle1.characteristic" value="{{data.circle1.characteristic}}" >
                                    {{#select data.circle1.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle1.value" value="{{data.circle1.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle1Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsNovice"}}
                            {{else}}
                                {{#if (eq data.discipline "questor")}}
                                {{localize "earthdawn.d.devotionsFollowers"}}
                                {{else}}
                                {{localize "earthdawn.t.talentOptionsJourneyman"}}
                                {{/if}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionNovice target="data.descriptionNovice" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle1 target="data.descriptionCircle1" button=true owner=owner editable=editable}}
                        {{else}}
                            {{#if (eq data.discipline "questor")}}
                            <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle1 target="data.descriptionCircle1" button=true owner=owner editable=editable}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>

                <!-- Circle 2 -->
                <div class="tab nav-discipline-tab circle2" data-group="primary" data-tab="circle2">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            2</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle2.characteristic" value="{{data.circle2.characteristic}}" >
                                    {{#select data.circle2.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle2.value" value="{{data.circle2.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle2Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsNovice"}}
                            {{else}}
                                {{#if (eq data.discipline "questor")}}
                                {{localize "earthdawn.d.devotionsFollowers"}}
                                {{else}}
                                {{localize "earthdawn.t.talentOptionsJourneyman"}}
                                {{/if}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionNovice target="data.descriptionNovice" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle2 target="data.descriptionCircle2" button=true owner=owner editable=editable}}
                        {{else}}
                            {{#if (eq data.discipline "questor")}}
                            <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle2 target="data.descriptionCircle2" button=true owner=owner editable=editable}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
				
                <!-- Circle 3 -->
                <div class="tab nav-discipline-tab circle3" data-group="primary" data-tab="circle3">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            3</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle3.characteristic" value="{{data.circle3.characteristic}}" >
                                    {{#select data.circle3.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle3.value" value="{{data.circle3.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle3Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsNovice"}}
                            {{else}}
                                {{#if (eq data.discipline "questor")}}
                                {{localize "earthdawn.d.devotionsFollowers"}}
                                {{else}}
                                {{localize "earthdawn.t.talentOptionsJourneyman"}}
                                {{/if}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionNovice target="data.descriptionNovice" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle3 target="data.descriptionCircle3" button=true owner=owner editable=editable}}
                        {{else}}
                            {{#if (eq data.discipline "questor")}}
                            <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle3 target="data.descriptionCircle3" button=true owner=owner editable=editable}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>	

                <!-- Circle 4 -->
                <div class="tab nav-discipline-tab circle4" data-group="primary" data-tab="circle4">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            4</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle4.characteristic" value="{{data.circle4.characteristic}}" >
                                    {{#select data.circle4.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle4.value" value="{{data.circle4.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle4Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsNovice"}}
                            {{else}}
                                {{#if (eq data.discipline "questor")}}
                                {{localize "earthdawn.d.devotionsFollowers"}}
                                {{else}}
                                {{localize "earthdawn.t.talentOptionsJourneyman"}}
                                {{/if}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionNovice target="data.descriptionNovice" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle4 target="data.descriptionCircle4" button=true owner=owner editable=editable}}
                        {{else}}
                            {{#if (eq data.discipline "questor")}}
                            <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle4 target="data.descriptionCircle4" button=true owner=owner editable=editable}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>			

                <!-- Circle 5 -->
                <div class="tab nav-discipline-tab circle5" data-group="primary" data-tab="circle5">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            5</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle5.characteristic" value="{{data.circle5.characteristic}}" >
                                    {{#select data.circle5.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle5.value" value="{{data.circle5.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle5Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsJourneyman"}}
                            {{else}}
                                {{#if (eq data.discipline "questor")}}
                                {{localize "earthdawn.d.devotionsAdherent"}}
                                {{else}}
                                {{localize "earthdawn.t.talentOptionsWarden"}}
                                {{/if}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionJourneyman target="data.descriptionJourneyman" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle5 target="data.descriptionCircle5" button=true owner=owner editable=editable}}
                        {{else}}
                            {{#if (eq data.discipline "questor")}}
                            <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle5 target="data.descriptionCircle5" button=true owner=owner editable=editable}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>	

                <!-- Circle 6 -->
                <div class="tab nav-discipline-tab circle6" data-group="primary" data-tab="circle6">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            6</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle6.characteristic" value="{{data.circle6.characteristic}}" >
                                    {{#select data.circle6.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle6.value" value="{{data.circle6.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle6Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsJourneyman"}}
                            {{else}}
                                {{#if (eq data.discipline "questor")}}
                                {{localize "earthdawn.d.devotionsAdherent"}}
                                {{else}}
                                {{localize "earthdawn.t.talentOptionsWarden"}}
                                {{/if}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionJourneyman target="data.descriptionJourneyman" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle6 target="data.descriptionCircle6" button=true owner=owner editable=editable}}
                        {{else}}
                            {{#if (eq data.discipline "questor")}}
                            <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle6 target="data.descriptionCircle6" button=true owner=owner editable=editable}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>	

                <!-- Circle 7 -->
                <div class="tab nav-discipline-tab circle7" data-group="primary" data-tab="circle7">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            7</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle7.characteristic" value="{{data.circle7.characteristic}}" >
                                    {{#select data.circle7.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle7.value" value="{{data.circle7.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle7Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsJourneyman"}}
                            {{else}}
                                {{#if (eq data.discipline "questor")}}
                                {{localize "earthdawn.d.devotionsAdherent"}}
                                {{else}}
                                {{localize "earthdawn.t.talentOptionsWarden"}}
                                {{/if}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionJourneyman target="data.descriptionJourneyman" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle7 target="data.descriptionCircle7" button=true owner=owner editable=editable}}
                        {{else}}
                            {{#if (eq data.discipline "questor")}}
                            <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle7 target="data.descriptionCircle7" button=true owner=owner editable=editable}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>			

                <!-- Circle 8 -->
                <div class="tab nav-discipline-tab circle8" data-group="primary" data-tab="circle8">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            8</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle8.characteristic" value="{{data.circle8.characteristic}}" >
                                    {{#select data.circle8.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle8.value" value="{{data.circle8.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle8Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsJourneyman"}}
                            {{else}}
                                {{#if (eq data.discipline "questor")}}
                                {{localize "earthdawn.d.devotionsAdherent"}}
                                {{else}}
                                {{localize "earthdawn.t.talentOptionsWarden"}}
                                {{/if}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionJourneyman target="data.descriptionJourneyman" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle8 target="data.descriptionCircle8" button=true owner=owner editable=editable}}
                        {{else}}
                            {{#if (eq data.discipline "questor")}}
                            <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle8 target="data.descriptionCircle8" button=true owner=owner editable=editable}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>	

                <!-- Circle 9 -->
                <div class="tab nav-discipline-tab circle9" data-group="primary" data-tab="circle9">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            9</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle9.characteristic" value="{{data.circle9.characteristic}}" >
                                    {{#select data.circle9.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle9.value" value="{{data.circle9.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle9Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsWarden"}}
                            {{else}}
                                {{#if (eq data.discipline "questor")}}
                                {{localize "earthdawn.d.devotionsExemplar"}}
                                {{else}}
                                {{localize "earthdawn.t.talentOptionsMaster"}}
                                {{/if}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionWarden target="data.descriptionWarden" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle9 target="data.descriptionCircle9" button=true owner=owner editable=editable}}
                        {{else}}
                            {{#if (eq data.discipline "questor")}}
                            <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle9 target="data.descriptionCircle9" button=true owner=owner editable=editable}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>

                <!-- Circle 10 -->
                <div class="tab nav-discipline-tab circle10" data-group="primary" data-tab="circle10">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            10</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle10.characteristic" value="{{data.circle10.characteristic}}" >
                                    {{#select data.circle10.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle10.value" value="{{data.circle10.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle10Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsWarden"}}
                            {{else}}
                                {{#if (eq data.discipline "questor")}}
                                {{localize "earthdawn.d.devotionsExemplar"}}
                                {{else}}
                                {{localize "earthdawn.t.talentOptionsMaster"}}
                                {{/if}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionWarden target="data.descriptionWarden" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle10 target="data.descriptionCircle10" button=true owner=owner editable=editable}}
                        {{else}}
                            {{#if (eq data.discipline "questor")}}
                            <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle10 target="data.descriptionCircle10" button=true owner=owner editable=editable}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>

                <!-- Circle 11 -->
                {{#unless (eq data.discipline "path")}}
                <div class="tab nav-discipline-tab circle11" data-group="primary" data-tab="circle11">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            11</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle11.characteristic" value="{{data.circle11.characteristic}}" >
                                    {{#select data.circle11.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle11.value" value="{{data.circle11.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle11Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsWarden"}}
                            {{else}}
                            {{localize "earthdawn.d.devotionsExemplar"}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionWarden target="data.descriptionWarden" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle11 target="data.descriptionCircle11" button=true owner=owner editable=editable}}
                        {{else}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor content=data.descriptionCircle11 target="data.descriptionCircle11" button=true owner=owner editable=editable}}
                        {{/if}}
                    </div>
                </div>
                {{/unless}}

                <!-- Circle 12 -->
                {{#unless (eq data.discipline "path")}}
                <div class="tab nav-discipline-tab circle12" data-group="primary" data-tab="circle12">
                    <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.c.circle"}}
                        {{else}}
                            {{localize "earthdawn.r.rank"}}
                        {{/if}}
                            12</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle12.characteristic" value="{{data.circle12.characteristic}}" >
                                    {{#select data.circle12.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle12.value" value="{{data.circle12.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle12Tab">
                        <hr class="line-simple">
                        <h3>{{#if (eq data.discipline "discipline")}}
                            {{localize "earthdawn.t.talentOptionsWarden"}}
                            {{else}}
                            {{localize "earthdawn.d.devotionsExemplar"}}
                            {{/if}}
                            </h3>
                        {{editor content=data.descriptionWarden target="data.descriptionWarden" button=true owner=owner editable=editable}}
                        {{#if (eq data.discipline "discipline")}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle12 target="data.descriptionCircle12" button=true owner=owner editable=editable}}
                        {{else}}
                        <hr class="line-simple">
                            <h3>{{localize "earthdawn.d.devotionAbilities"}}</h3>
                            {{editor content=data.descriptionCircle12 target="data.descriptionCircle12" button=true owner=owner editable=editable}}
                        {{/if}}
                    </div>
                </div>
                {{/unless}}

                <!-- Circle 13 -->
                {{#if (eq data.discipline "discipline")}}
                <div class="tab nav-discipline-tab circle13" data-group="primary" data-tab="circle13">
                    <h3>{{localize "earthdawn.c.circle"}} 13</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle13.characteristic" value="{{data.circle13.characteristic}}" >
                                    {{#select data.circle13.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle13.value" value="{{data.circle13.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle13Tab">
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.t.talentOptionsMaster"}}</h3>
                        {{editor content=data.descriptionMaster target="data.descriptionMaster" button=true owner=owner editable=editable}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle13 target="data.descriptionCircle13" button=true owner=owner editable=editable}}
                    </div>
                </div>  
                {{/if}}  

                <!-- Circle 14 -->
                {{#if (eq data.discipline "discipline")}}
                <div class="tab nav-discipline-tab circle14" data-group="primary" data-tab="circle14">
                    <h3>{{localize "earthdawn.c.circle"}} 14</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle14.characteristic" value="{{data.circle14.characteristic}}" >
                                    {{#select data.circle14.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle14.value" value="{{data.circle14.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle14Tab">
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.t.talentOptionsMaster"}}</h3>
                        {{editor content=data.descriptionMaster target="data.descriptionMaster" button=true owner=owner editable=editable}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle14 target="data.descriptionCircle14" button=true owner=owner editable=editable}}
                    </div>
                </div>
                {{/if}}

                <!-- Circle 15 -->
                {{#if (eq data.discipline "discipline")}}
                <div class="tab nav-discipline-tab circle15" data-group="primary" data-tab="circle15">
                    <h3>{{localize "earthdawn.c.circle"}} 15</h3>
                    <div>
                        <div>
                            <div class="partial-three padding-top-7">
                                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                            </div>
                            <div class="partial-three">
                                <select class="inherent-width" name="data.circle15.characteristic" value="{{data.circle15.characteristic}}" >
                                    {{#select data.circle15.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                            </div>
                            <div class="partial-three">
                                <input type="number" name="data.circle15.value" value="{{data.circle15.value}}" />
                            </div>
                        </div>
                    </div>
                    <div class="flexColumn circle15Tab">
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.t.talentOptionsMaster"}}</h3>
                        {{editor content=data.descriptionMaster target="data.descriptionMaster" button=true owner=owner editable=editable}}
                        <hr class="line-simple">
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle15 target="data.descriptionCircle15" button=true owner=owner editable=editable}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </body>
</form>

