<form class="equipmentInventory {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="equipment static">
        <table>
            <tr>
                <td>
                    {{localize "earthdawn.c.cost"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <input name="data.cost" type="text" value="{{data.cost}}" data-dtype="double"/>
                </td>
                <td>
                    {{localize "earthdawn.w.weight"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <input name="data.weight" type="text" value="{{data.weight}}" data-dtype="Double"/>
                </td>
            </tr>
            <tr>
                <td>
                    {{localize "earthdawn.a.amount"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <input name="data.amount" type="text" value="{{data.amount}}" data-dtype="number"/>
                </td>
                <td>
                    {{localize "earthdawn.a.availability"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <select class="inherent-width" name="data.availability" value="{{data.availability}}"
                        {{#select data.availability}}>
                            <option value="Everyday">{{localize "earthdawn.a.availabilityEveryday"}}</option>
                            <option value="Average">{{localize "earthdawn.a.availabilityAverage"}}</option>
                            <option value="Unusual">{{localize "earthdawn.a.availabilityUnusual"}}</option>
                            <option value="Rare">{{localize "earthdawn.a.availabilityRare"}}</option>
                            <option value="VeryRare">{{localize "earthdawn.a.availabilityVeryRare"}}</option>        
                        {{/select}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    {{localize "earthdawn.b.bloodDamage"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <input name="data.bloodMagicDamage" type="text" value="{{data.bloodMagicDamage}}" data-dtype="Number">
                </td>
                {{#if (eq data.isthread true)}}
                <td>
                    {{localize "earthdawn.m.maximumThreads"}}
                </td>
                <td class="padding-left-6">
                    <input name="data.maxThreads" type="text" value="{{data.maxThreads}}" data-dtype="Number">
                </td>
                {{else}}
                <td></td>
                <td></td>
                {{/if}}
            </tr>
        </table>
    </div>
    <!-- GM field toggel Thread item -->
    <div class="static">
        {{#if (eq isGM true)}}{{localize "earthdawn.t.threadItem"}}?
            <input type="checkbox" name="data.isthread" {{checked data.isthread}}  />
        {{/if}}
    </div>
    <!-- Thread Item -->
	{{> "systems/earthdawn4e/templates/items/partials/thread-item.hbs"}}
</form>
