<form class="knack {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
        <div class="knack">
            <table>
                <tr>
                    <td>{{localize "earthdawn.a.attribute"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        {{> "systems/earthdawn4e/templates/items/partials/attribute-options.hbs"}}
                    </td>
                    <td>{{localize "earthdawn.a.action"}}</td>
                    <td class="padding-left-6">
                        <select name="data.action" class="inherent-width" type="text" value="{{data.action}}" data-dtype="String">
                            {{#select data.action}}>
                            <option value="Standard">{{localize "earthdawn.a.actionStandard"}}</option>
                            <option value="Simple">{{localize "earthdawn.a.actionSimple"}}</option>
                            <option value="Free">{{localize "earthdawn.a.actionFree"}}</option>
                            <option value="Sustained">{{localize "earthdawn.a.actionSustained"}}</option>
                            {{/select}} 
                        </select>
                    </td>
                <tr>
                    <td class="padding-right-6">{{localize "earthdawn.f.favorite"}}?</td>
                    <td class="padding-left-6 padding-right-6">
                        <select name="data.favorite" class="inherent-width" value="{{data.favorite}}">
                            {{#select data.favorite}}
                            <option value="false">{{localize "earthdawn.n.no"}}</option>
                            <option value="true">{{localize "earthdawn.y.yes"}}</option>
                            {{/select}}
                        </select>
                    </td>
                     <td class="padding-right-6">{{localize "earthdawn.s.strain"}}</td>
                    <td class="padding-left-6">
                        <input name="data.strain"  type="number" value="{{data.strain}}" data-dtype="Number"/>
                    </td>
                </tr>
                <tr>
                    <td class="padding-left-6 padding-right-6">{{localize "earthdawn.s.standardEffect"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        <select name="data.standardEffect" class="inherent-width" value="{{data.standardEffect}}">
                            {{#select data.standardEffect}}
                            <option value="false">{{localize "earthdawn.n.no"}}</option>
                            <option value="true">{{localize "earthdawn.y.yes"}}</option>
                            {{/select}}
                        </select>
                    </td>
                    <td class="padding-right-6">{{localize "earthdawn.s.skill"}}</td>
                    <td class="padding-left-6">
                        <select name="data.skillUse" class="inherent-width" value="{{data.skillUse}}">
                            {{#select data.skillUse}}
                            <option value="false">{{localize "earthdawn.n.no"}}</option>
                            <option value="true">{{localize "earthdawn.y.yes"}}</option>
                            {{/select}}
                        </select>
                    </td>
                </tr>
                 {{#if (eq owner true)}}
                <tr>
                    <td>{{localize "earthdawn.t.talentRequirement"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        <input name="data.talentRequirement"  type="text" value="{{data.talentRequirement}}" data-dtype="text"/>
                    </td>
                    <td class="padding-right-6">{{localize "earthdawn.r.restrictions"}}</td>
                    <td class="padding-left-6">
                        <input name="data.restrictions"  type="text" value="{{data.restrictions}}" data-dtype="string"/>
                    </td>
                </tr>
                {{/if}}
                <tr>
                    <td>{{localize "earthdawn.s.source"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        <input name="data.sourceTalentName" type="text" value="{{data.sourceTalentName}}" data-dtype="string"/>
                    </td>
            
                </tr>
            </table>        
        </div>
        <div class="flexColumn">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>         
    </body>
</form>

