<form class="namegiver {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
        
        <div class="namegiver padding-top-15">
             <section class="static">
                 <div>
                     <div class="partial-six padding-right-6 padding-top-7">
                     <label>{{localize "earthdawn.d.dexterity"}}</label>
                    </div>
                    <div class="partial-six padding-left-3 padding-right-3">
                        <input type="text" name="data.attributes.dexterityvalue" value="{{data.attributes.dexterityvalue}}">
                    </div>
                    <div class="partial-six padding-right-6 padding-top-7">
                        <label>{{localize "earthdawn.s.strength"}}</label>
                    </div>
                    <div class="partial-six padding-left-3 padding-right-3">
                        <input type="text" name="data.attributes.strengthvalue" value="{{data.attributes.strengthvalue}}">
                    </div>
                    <div class="partial-six padding-right-6 padding-top-7">
                        <label>{{localize "earthdawn.t.toughness"}}</label>
                    </div>
                    <div class="partial-six">
                        <input type="text" name="data.attributes.toughnessvalue" value="{{data.attributes.toughnessvalue}}">
                    </div>
                 </div>
                 <div>
                     <div class="partial-six padding-right-6 padding-top-7">
                     <label>{{localize "earthdawn.p.perception"}}</label>
                    </div>
                    <div class="partial-six padding-left-3 padding-right-3">
                        <input type="text" name="data.attributes.perceptionvalue" value="{{data.attributes.perceptionvalue}}">
                    </div>
                    <div class="partial-six padding-right-6 padding-top-7">
                        <label>{{localize "earthdawn.w.willpower"}}</label>
                    </div>
                    <div class="partial-six padding-left-3 padding-right-3">
                        <input type="text" name="data.attributes.willpowervalue" value="{{data.attributes.willpowervalue}}">
                    </div>
                    <div class="partial-six padding-right-6 padding-top-7">
                        <label>{{localize "earthdawn.c.charisma"}}</label>
                    </div>
                    <div class="partial-six">
                        <input type="text" name="data.attributes.charismavalue" value="{{data.attributes.charismavalue}}">
                    </div>
                 </div>
            </section>    
            <section class="sectionTswo">
                <div class="partial-four padding-right-6 padding-top-7">
                    <label>{{localize "earthdawn.m.movement"}}</label>
                </div>
                <div class="partial-four padding-left-3 padding-right-3 ">
                    <input type="text" name="data.movement" value="{{data.movement}}">
                </div>
                <div class="partial-four padding-left-3 padding-right-3 padding-top-7">
                    <label>{{localize "earthdawn.k.karmaModifier"}}</label>
                </div>
                <div class="partial-four padding-left-6 ">
                    <input type="text" name="data.karmamodifier" value="{{data.karmamodifier}}">
                </div>
            </section>
        </div>
        <div>
            <div class="partial-three padding-top-7">
                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
            </div>
            <div class="partial-three">
                <select class="inherent-width" name="data.bonus1.characteristic" value="{{data.bonus1.characteristic}}" >
                    {{#select data.bonus1.characteristic}}
                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                    {{/select}}
                </select>
            </div>
            <div class="partial-three">
                <input type="number" name="data.bonus1.value" value="{{data.bonus1.value}}" />
            </div>
        </div>
        <div>
            <div class="partial-three padding-top-7">
                <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
            </div>
            <div class="partial-three">
                <select class="inherent-width" name="data.bonus2.characteristic" value="{{data.bonus2.characteristic}}" >
                    {{#select data.bonus2.characteristic}}
                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                    {{/select}}
                </select>
            </div>
            <div class="partial-three">
                <input type="number" name="data.bonus2.value" value="{{data.bonus2.value}}" />
            </div>
        </div>
        <div class="flexColumn">
            <h3>{{localize "earthdawn.r.racialAbilities"}}</h3>
            {{editor content=data.racialAbilites target="data.racialAbilites" button=true owner=owner editable=editable}}
        </div>
        <div class="flexColumn">
            <h3>{{localize "earthdawn.l.labelItemDescription"}}</h3>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
     </body>
</form>
