<form class="shield {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
	<div class="shield">
		<table>
			<tr>
				<td>{{localize "earthdawn.d.defensePhysical"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="data.physicaldefense" type="text" value="{{data.physicaldefense}}" data-dtype="Number"/>
				</td>
				<td>{{localize "earthdawn.d.defenseMagical"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="data.mysticdefense" type="number" value="{{data.mysticdefense}}" data-dtype="Number"/>
				</td>
			</tr>
			<tr>
				<td>{{localize "earthdawn.i.initiativePenalty"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="data.initiativepenalty" type="text" value="{{data.initiativepenalty}}" data-dtype="Number"/>
				</td>
				<td>{{localize "earthdawn.s.shatterThreshold"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="data.shatterthreshold" type="text" value="{{data.shatterthreshold}}" data-dtype="Number"/>
				</td>
			</tr>
			<tr>
				<td>{{localize "earthdawn.c.cost"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="data.cost" type="text" value="{{data.cost}}" data-dtype="Number"/>
				</td>
				<td>{{localize "earthdawn.w.weight"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="data.weight" type="number" value="{{data.weight}}" data-dtype="Number"/>
				</td>
			</tr>
			<tr>
				<td>{{localize "earthdawn.a.availability"}}</td>
				<td class="padding-left-6 padding-right-6">
					<select class="inherent-width" name="data.availability" type="text" value="{{data.availability}}" data-dtype="String" {{#select data.availability}}/>
					<option value="availabilityEveryday">{{localize "earthdawn.a.availabilityEveryday"}}</option>
					<option value="availabilityAverage">{{localize "earthdawn.a.availabilityAverage"}}</option>
					<option value="availabilityUnusual">{{localize "earthdawn.a.availabilityUnusual"}}</option>
					<option value="availabilityRare">{{localize "earthdawn.a.availabilityRare"}}</option>
					<option value="availabilityVeryRare">{{localize "earthdawn.a.availabilityVeryRare"}}</option>
					{{/select}} </select>
				</td>
				<td>
					{{localize "earthdawn.b.bloodDamage"}}
				</td>
				<td class="padding-left-6 padding-right-6">
					<input name="data.bloodMagicDamage" type="text" value="{{data.bloodMagicDamage}}" data-dtype="Number">
				</td>
			</tr>
			{{#if (eq data.isthread true)}}
			<tr>
                <td>
                    {{localize "earthdawn.m.maximumThreads"}}
                </td>
                <td class="padding-left-6">
                    <input name="data.maxThreads" type="text" value="{{data.maxThreads}}" data-dtype="Number">
                </td>
				<td></td>
                <td></td>
			</tr>
            {{/if}}
		</table>
	</div>
	<!-- GM field toggel Thread item -->
	<div class="static">
		{{#if (eq isGM true)}}{{localize "earthdawn.t.threadItem"}}?
			<input type="checkbox" name="data.isthread" {{checked data.isthread}}  />
		{{/if}}
	</div>
	<!-- Thread Item -->
	{{> "systems/earthdawn4e/templates/items/partials/thread-item.hbs"}}
</form>
