<form class="skills {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
        <div class="skills">
            <table>
                <tr>
                    <td>{{localize "earthdawn.a.attribute"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        {{> "systems/earthdawn4e/templates/items/partials/attribute-options.hbs"}}
                    </td>
                    <td>{{localize "earthdawn.a.action"}}</td>
                    <td class="padding-left-6">
                        <select name="data.action" class="inherent-width" type="text" value="{{data.action}}" data-dtype="String"
                            {{#select data.action}}>
                            <option value="Standard">{{localize "earthdawn.a.actionStandard"}}</option>
                            <option value="Simple">{{localize "earthdawn.a.actionSimple"}}</option>
                            <option value="Free">{{localize "earthdawn.a.actionFree"}}</option>
                            <option value="Sustained">{{localize "earthdawn.a.actionSustained"}}</option>
                            {{/select}} 
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.r.ranks"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        <input name="data.ranks" type="text" value="{{data.ranks}}" data-dtype="Number"/>
                    </td>
                    <td class="padding-right-6">{{localize "earthdawn.s.strain"}}</td>
                    <td class="padding-left-6">
                        <input name="data.strain"  type="number" value="{{data.strain}}" data-dtype="Number"/>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.t.tier"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        <select name="data.tier" class="inherent-width" type="text" value="{{data.tier}}" data-dtype="String"
                            {{#select data.tier}}>
                            <option value="Novice">{{localize "earthdawn.t.tierNovice"}}</option>
                            <option value="Journeyman">{{localize "earthdawn.t.tierJourneyman"}}</option>
                            <option value="Warden">{{localize "earthdawn.t.tierWarden"}}</option>
                            <option value="Master">{{localize "earthdawn.t.tierMaster"}}</option>
                            {{/select}} 
                        </select>
                    </td>
                    <td class="padding-right-6"></td>
                    <td class="padding-left-6"></td>
                </tr>
            </table>        
        </div>
        <div class="flexColumn">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>         
    </body>
</form>
