<form class="spells {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
        <div class="spell">
            <!-- order by circle -->
            <table>
                <tr>
                    <td>{{localize "earthdawn.c.circle"}}</td>
                    <td>
                        <input name="data.circle" type="number" value="{{data.circle}}" data-dtype="number"/>
                    </td>
                    <td>{{localize "earthdawn.s.spellThreads"}}</td>
                    <td>
                        <input name="data.threadsrequired" type="number" value="{{data.threadsrequired}}" data-dtype="Number"/>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.w.weavingDifficulty"}}</td>
                    <td>
                        <input name="data.weavingdifficulty" type="number" value="{{data.weavingdifficulty}}" data-dtype="Number"/>
                    </td>
                    <td>{{localize "earthdawn.c.castingDifficulty"}}</td>
                    <td>
                        <input name="data.castingdifficulty" type="text" value="{{data.castingdifficulty}}" data-dtype="String" />
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.s.spellRange"}}</td>
                    <td>
                        <input name="data.range" type="text" value="{{data.range}}" data-dtype="String"/>
                    </td>
                    <td>{{localize "earthdawn.d.discipline"}}</td>
                    <td>
                        <select name="data.discipline" type="string" value="{{data.discipline}}" data-dtype="String" {{#select data.discipline}}/>
                        <option value="Elementalist">{{localize "earthdawn.d.disciplineElementalist"}}</option>
                        <option value="Illusionist">{{localize "earthdawn.d.disciplineIllusionist"}}</option>
                        <option value="Nethermancer">{{localize "earthdawn.d.disciplineNethermancer"}}</option>
                        <option value="Shaman">{{localize "earthdawn.d.disciplineShaman"}}</option>
                        <option value="Wizard">{{localize "earthdawn.d.disciplineWizard"}}</option>{{/select}}</select>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.m.matrixReattuningDifficulty"}}</td>
                    <td>
                        <input name="data.reattunedifficulty" type="number" value="{{data.reattunedifficulty}}" data-dtype="Number">
                    </td>
                    <td>{{localize "earthdawn.s.spellDuration"}}</td>
                    <td>
                        <input name="data.duration" type="text" value="{{data.duration}}" data-dtype="String">
                    </td>
                </tr>
            </table>
            <table> 
                <tr>
                    <th>{{localize "earthdawn.e.effect"}}</th>
                    <th>{{localize "earthdawn.e.effectArea"}}</th>
                </tr>
                <tr>
                    <td>
                        <textarea name="data.effect" id="spellEffects" cols="30" rows="3">{{data.effect}}</textarea>
                    </td>
                    <td>
                        <textarea name="data.areaofeffect" id="spellAreaofeffect" cols="30" rows="3">{{data.areaofeffect}}</textarea>
                    </td>
                </tr>
                        
                <tr>
                    <th>{{localize "earthdawn.t.threadsAdditional"}}</th>
                    <th>{{localize "earthdawn.s.successAdd"}}</th>
                </tr>
                <tr>
                    <td>
                        <textarea name="data.extrathreads" id="extrathreads" cols="30" rows="3">{{data.extrathreads}}</textarea>
                    </td>
                    <td>
                        <textarea name="data.extrasuccesses" id="spellExtrasuccesses" cols="30" rows="3">{{data.extrasuccesses}}</textarea>
                    </td>
                </tr>
                
            </table>        
        </div>
        <div class="flexColumn">
            <h4>{{localize "earthdawn.l.labelItemDescription"}}</h4> 
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>         
    </body>
</form>

<!-- Illusion is an attribute of the item which shall enforce a check ?!? -->
