{{#if (PC this)}}
	<div class="characteristics flexcol">
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.h.height" }}</label>
			<input type='text' value='{{data.height}}' name="data.height"/>
		</div>
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.a.age" }}</label>
			<input type='number' value='{{data.age}}' name="data.age"/>
		</div>
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.s.sex" }}:</label>
			<select name="data.sex" value='{{data.sex}}'>
				{{#select data.sex}}
					<option value="{{localize 'earthdawn.n.none'}}">{{localize 'earthdawn.n.none'}}</option>
					<option value="{{localize 'earthdawn.m.male'}}">{{localize 'earthdawn.m.male'}}</option>
					<option value="{{localize 'earthdawn.f.female'}}">{{localize 'earthdawn.f.female'}}</option>
					<option value="{{localize 'earthdawn.d.diverse'}}">{{localize 'earthdawn.d.diverse'}}</option>
				{{/select}}
			</select>
		</div>
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.h.hair" }}</label>
			<input type='text' value='{{data.hair}}' name="data.hair"/>
		</div>
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.e.eyes" }}</label>
			<input type='text' value='{{data.eyes}}' name="data.eyes"/>
		</div>
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.s.skin" }}</label>
			<input type='text' value='{{data.skin}}' name="data.skin"/>
		</div>
	</div>
	<div class="biography">
{{/if}}
	{{editor content=data.biography target="data.biography" button=true owner=owner editable=editable rollData=rollData}}
{{#if (PC this)}}
	</div>
{{/if}}
