<div class='combat'>
	<h2>{{localize "earthdawn.c.combat"}}</h2>

    {{> "systems/earthdawn4e/templates/taka-theme/actors/partials/tables/weapons-table.hbs"}}

	{{#if (hasItems matrixes)}}
		<hr>

		{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/matrixes-table.hbs'}}
	{{/if}}

	<hr>

	<!-- Initiative -->
	<h3>{{localize "earthdawn.i.initiative"}}</h3>
	<div class='grid grid-3col'>
		<div>
			<label>{{localize "earthdawn.i.initiative"}} </label>
			<br>
			<input class='initiative-input' name="data.initiativeStep" type="text" value="{{data.initiativeStep}}"/>
		</div>
		<div>
			<label>{{localize "earthdawn.i.initiativeDice"}} </label>
			<input class='initiative-input' name="data.initiativeDice" type="text" value="{{data.initiativeDice}}" readonly/>
		</div>
		<div>
			<button class="buttonAction take-damage">{{localize "earthdawn.t.takeDamage"}}</button>
		</div>
	</div>

	<hr>

	<div class='grid grid-3col'>
		<!-- Modifier -->
		<div>
			<!-- Combat modifier -->
			<h3>{{localize "earthdawn.c.combatModifier"}}</h3>
			<h4>{{localize "earthdawn.c.combatOptions"}}</h4>

			<div>
				<input type="checkbox" name="data.tactics.aggressive" {{checked data.tactics.aggressive}}/>
				<label>{{localize "earthdawn.c.combatOptionsAggressive"}}</label>
			</div>
			<div>
				<input type="checkbox" name="data.tactics.defensive" {{checked data.tactics.defensive}}/>
				<label>{{localize "earthdawn.c.combatOptionsDefensive"}}</label>
			</div>

			<!-- Situation modifier -->
			<h4>{{localize "earthdawn.c.combatSituationModifier"}}</h4>
			<div>
				<input name="data.tactics.knockeddown" type="checkbox" {{checked data.tactics.knockeddown}}/>
				<label>{{localize "earthdawn.c.combatModifierKnockedDown"}}</label>
			</div>
			<div>
				<input name="data.tactics.harried" type="checkbox" {{checked data.tactics.harried}}/>
				<label>{{localize "earthdawn.c.combatModifierHarried"}}</label>
			</div>
		</div>

		<!-- Favorites -->
		<div>
			<h3>{{localize "earthdawn.h.hotlist"}}</h3>
			<ol class="items-list">
				{{#each favorites as |favorite id|}}
					{{> "systems/earthdawn4e/templates/taka-theme/actors/partials/cards/talent-card-short.hbs" favorite}}
				{{/each}}
			</ol>
		</div>

		<!-- Tests -->
		<div>
			<h3>{{localize "earthdawn.a.action"}}</h3>
			<button class="buttonAction knockdown-test">{{localize "earthdawn.c.combatOptionsKnockdownTest"}}</button>
			<button class="buttonAction jump-up">{{localize "earthdawn.c.combatOptionsJumpUp"}}</button>
		</div>
	</div>

	<!-- NPC Specifics -->
	{{#if (NPC this)}}
		<div>
			<div>
				<table>
					<tr>
						<td>
							<label>{{localize "earthdawn.a.action"}}</label>
						</td>
						<td>
							<input name="data.action" type="text" value="{{data.action}}"/>
						</td>
						<td>
							<label>{{localize "earthdawn.k.knockdownStep"}} </label>
						</td>
						<td>
							<input class="step-display" name="data.knockdown" type="text" value="{{data.knockdown}}"/>
						</td>
					</tr>
				</table>
			</div>
			<div>
				<table>
					<h3>{{localize "earthdawn.p.powers"}}</h3>
					<tr>
						<ol class="items-list">
							{{#each attacks as |attack id|}}
								{{> "systems/earthdawn4e/templates/taka-theme/actors/partials/cards/attack-card.hbs" attack}}
							{{/each}}
						</ol>
					</tr>
				</table>
			</div>
		</div>
	{{/if}}
</div>
