<!-- Initiative -->
<h3>{{localize "earthdawn.i.initiative"}}</h3>
<div class='grid grid-3col'>
	<div>
		<label>{{localize "earthdawn.i.initiative"}} </label>
		<br>
		<input class='initiative-input' name="data.initiativeStep" type="text" value="{{data.initiativeStep}}"/>
	</div>
	<div>
		<label>{{localize "earthdawn.i.initiativeDice"}} </label>
		<input class='initiative-input' name="data.initiativeDice" type="text" value="{{data.initiativeDice}}"
			   readonly/>
	</div>
    <div>
        <label>{{localize "earthdawn.k.knockdownStep"}} </label>
        <input class='initiative-input' name="data.knockdown" type="number" value="{{data.knockdown}}"/>
    </div>
    <div>
        <label>{{localize "earthdawn.a.attacks"}} </label>
        <input class='initiative-input' name="data.attacks" type="number" value="{{data.attacks}}"/>
    </div>
</div>

<hr>

<div class='grid grid-3col'>
	<!-- Modifier -->
	<div>
		<!-- Combat modifier -->
		<h3>{{localize "earthdawn.c.combatModifier"}}</h3>
		<h4>{{localize "earthdawn.c.combatOptions"}}</h4>

		<div>
			<input type="checkbox" name="data.tactics.aggressive" {{checked data.tactics.aggressive}}/>
			<label>{{localize "earthdawn.c.combatOptionsAggressive"}}</label>
		</div>
		<div>
			<input type="checkbox" name="data.tactics.defensive" {{checked data.tactics.defensive}}/>
			<label>{{localize "earthdawn.c.combatOptionsDefensive"}}</label>
		</div>

		<!-- Situation modifier -->
		<h4>{{localize "earthdawn.c.combatSituationModifier"}}</h4>
		<div>
			<input name="data.tactics.knockeddown" type="checkbox" {{checked data.tactics.knockeddown}}/>
			<label>{{localize "earthdawn.c.combatModifierKnockedDown"}}</label>
		</div>
		<div>
			<input name="data.tactics.harried" type="checkbox" {{checked data.tactics.harried}}/>
			<label>{{localize "earthdawn.c.combatModifierHarried"}}</label>
		</div>
	</div>

	<!-- Tests -->
	<div>
		<h3>{{localize "earthdawn.a.action"}}</h3>
		<button class="buttonAction knockdown-test">{{localize "earthdawn.c.combatOptionsKnockdownTest"}}</button>
		<button class="buttonAction jump-up">{{localize "earthdawn.c.combatOptionsJumpUp"}}</button>
		<button class="buttonAction take-damage">{{localize "earthdawn.t.takeDamage"}}</button>
	</div>
</div>

<div>
	<h3>{{localize "earthdawn.i.information"}}</h3>
	{{editor content=data.descriptionGameInfo target="data.descriptionGameInfo" button=true owner=owner editable=editable}}
</div>
