<div>
	<label>{{localize "earthdawn.c.challenge"}}</label>
	<input name="data.challenge" type="text" value="{{data.challenge}}"/>
</div>

<div>
	<h3>{{localize "earthdawn.i.information"}}</h3>
	{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
</div>
