<div class="top-row">
	{{#if (PC this)}}
		<div class="currency grid grid-4col">
			<h3 class='grid-span-2'>
				{{localize "earthdawn.e.encumbrance"}}
			</h3>

			<div class='flexrow'>
				<label>
					<span>{{ localize 'earthdawn.e.encumbrance'}}</span>
				</label>
				<input type="number" name="data.encumbrance" value="{{data.encumbrance}}"/>
			</div>

			<div class='flexrow'>
				<label>
					<span>{{ localize 'earthdawn.e.encumbranceCarryingCapacity'}}</span>
				</label>
				<input type="number" name="data.carryingCapacity" value="{{data.carryingCapacity}}"/>
			</div>
		</div>

		<hr>

		<div class="currency grid grid-4col">
			<h3>
				{{localize "earthdawn.c.currency"}}
				<i class="fas fa-coins"></i>
			</h3>

			<div class='flexrow'>
				<label class="denomination">
					<img class="coins" src="systems/earthdawn4e/assets/gold-coin.png" contenteditable="false"/>
					<span>{{ localize 'earthdawn.m.merchants'}}</span>
				</label>
				<input type="number" name="data.money.gold" value="{{data.money.gold}}"/>
			</div>

			<div class='flexrow'>
				<label class="denomination">
					<img class="coins" src="systems/earthdawn4e/assets/silver-coin.png" contenteditable="false"/>
					<span>{{ localize 'earthdawn.t.tavs'}}</span>
				</label>
				<input type="number" name="data.money.silver" value="{{data.money.silver}}"/>
			</div>

			<div class='flexrow'>
				<label class="denomination">
					<img class="coins" src="systems/earthdawn4e/assets/copper-coin.png" contenteditable="false"/>
					<span>{{ localize 'earthdawn.h.hammer'}}</span>
				</label>
				<input type="number" name="data.money.copper" value="{{data.money.copper}}"/>
			</div>

		</div>
	{{/if}}
</div>

<ol class="items-list inventory-list">
	{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/weapons-table.hbs'}}
	{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/armors-table.hbs'}}
	{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/shields-table.hbs'}}
	{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/tables/equipment-table.hbs'}}
</ol>
