<nav class="sheet-navigation tabs" data-group="primary">
	<a class="nav active" data-tab="description">{{ localize "earthdawn.d.description" }}</a>
	{{#if data.isthread}}
		<a class="nav" data-tab="thread-description">{{ localize "earthdawn.t.thread" }}</a>
	{{/if}}
</nav>
