<li class="item flexrow item-draggable item-name showHidden" data-item-id="{{_id}}">
	<div class="item-controls flexrow">
		<a class="item-control show-hidden">
			<i class="fas fa-sort"></i>
		</a>
	</div>

	<div class="item-name-css flexrow rollable">
		<div class="item-image" style="background-image: url('{{img}}')"></div>
		<h4><a class='{{#unless (eq data.attackstep 0)}}NPC-attack{{/unless}}'>{{name}}</a></h4>
	</div>

{{#if (eq data.attackstep 0)}}
		<div>{{localize "earthdawn.n.noTest"}}</div>
	{{else}}
		<a class="NPC-attack">
			{{localize "earthdawn.a.attack"}}: {{data.attackstep}}
			<i class="NPC-attack fas fa-dice" title="Click to Roll Attack"></i>
		</a>
	{{/if}}

	{{#if (eq data.damagestep 0)}}
		<div>{{localize "earthdawn.n.noDamage"}}</div>
	{{else}}
		<a class="effectTest">
			{{localize "earthdawn.d.damage"}}: {{data.damagestep}}
			<i class="effectTest fas fa-dice" title="Click to Roll Damage"></i>
		</a>
	{{/if}}

	<div>{{localize "earthdawn.a.action"}}: {{data.action}}</div>
	

	{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/item-control.hbs' upgradable=false}}

	<div style="display: none" class="hidden-tab hidden-stretch">{{{data.description}}}</div>
</li>
