{{log this }}
<li class="item flexrow item-draggable item-name" data-item-id="{{_id}}">
	<div class="item-name-css flexrow rollable">
		<div class="item-image" style="background-image: url('{{img}}')"></div>
		<h4><a class='talent-roll'>{{name}}</a></h4>
	</div>
</li>
