<tr class="item item-draggable item-name" data-item-id="{{_id}}">
    <td class="padding-right-5">
        <img class="item-image" src="{{img}}" alt="">
    </td>

    <td class="item-name-css rollable">
        <a class='talent-roll'>{{name}}</a>
    </td>

    <td>
        <div class="spell-rank">{{#if (gte data.finalranks 1)}}{{data.finalranks}}{{else}}{{data.ranks}}{{/if}}</div>
    </td>

    <td>
        <div class="spell-attribute">{{attribute data.attribute}}</div>
    </td>

    <td>
        <div>{{add data.ranks (getAttributeValue attributes data.attribute)}}</div>
    </td>

    <td>
        <div class="spell-action">{{data.action}}</div>
    </td>

    <td>
        <div class="spell-strain">{{data.strain}}</div>
    </td>

    <td class="centered">
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/item-control.hbs' upgradable=true}}
    </td>
</tr>


{{#each (getKnackName this knacks)}}
    {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/knack-card.hbs'}}
{{/each}}

