<tr class="item item-draggable item-name" data-item-id="{{_id}}">
    <td class="padding-right-5">
        <img class="item-image" src="{{img}}" alt="">
    </td>

    <td class="item-name-css rollable">
        <a class='attack-roll'>{{name}}</a>
    </td>

    <td>
        <a class="effectTest">
            {{localize "earthdawn.d.damage"}}: {{data.damagestep}}
            <i class="fas fa-dice" title="Click to Roll Damage"></i>
        </a>
    </td>

    <td>
        <span>
            {{localize "earthdawn.e.equipped"}}:
            <input type="checkbox" class="link-checkbox" name="data.worn" {{checked data.worn}}/>
	    </span>
    </td>

    <td class="centered">
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/item-control.hbs' upgradable=false}}
    </td>
</tr>
