<label>{{localize "earthdawn.a.action"}}</label>
<select name="data.action" value='{{data.action}}'>
    {{#select data.action}}
        <option value="Standard">{{localize 'earthdawn.s.standard'}}</option>
        <option value="Simple">{{localize 'earthdawn.s.simple'}}</option>
        <option value="Free">{{localize 'earthdawn.f.free'}}</option>
        <option value="Sustained">{{localize 'earthdawn.s.sustained'}}</option>
    {{/select}}
</select>
