<label>{{localize "earthdawn.f.favorite"}}</label>
<select name="data.favorite" class="inherent-width" value="{{data.favorite}}">
    {{#select data.favorite}}
        <option value="false">{{localize "earthdawn.n.no"}}</option>
        <option value="true">{{localize "earthdawn.y.yes"}}</option>
    {{/select}}
</select>
