<label>{{localize "earthdawn.d.devotionRequired"}}</label>
<select name="data.devotionRequired" class="inherent-width" value="{{data.devotionRequired}}">
    {{#select data.devotionRequired}}
        <option value="No">{{localize "earthdawn.n.no"}}</option>
        <option value="Yes">{{localize "earthdawn.y.yes"}}</option>
    {{/select}}
</select>
