<label>{{localize "earthdawn.p.power"}}</label>
<select name="data.powerType" value="{{data.powerType}}">
    {{#select data.powerType}}
        <option value="Attack">{{localize "earthdawn.a.attack"}}</option>
        <option value="Maneuver">{{localize "earthdawn.m.maneuver"}}</option>
        <option value="Power">{{localize "earthdawn.p.power"}}</option>
    {{/select}}
</select>
