<div class="grid grid-2col">
    <div class="grid grid-4col grid-span-2">
        <label class="spell-label">{{localize "earthdawn.e.effect"}}</label>
        <textarea class="grid-span-3" name="data.effect" cols="30" rows="3">{{data.effect}}</textarea>
    </div>
    <div class="grid grid-4col grid-span-2">
        <label class="spell-label">{{localize "earthdawn.e.effectArea"}}</label>
        <textarea class="grid-span-3" name="data.areaofeffect" cols="30" rows="3">{{data.areaofeffect}}</textarea>
    </div>
    <div class="grid grid-4col grid-span-2">
        <label class="spell-label">{{localize "earthdawn.t.threadsAdditional"}}</label>
        <textarea class="grid-span-3" name="data.extrathreads" cols="30" rows="3">{{data.extrathreads}}</textarea>
    </div>
    <div class="grid grid-4col grid-span-2">
        <label class="spell-label">{{localize "earthdawn.s.successAdd"}}</label>
        <textarea class="grid-span-3" name="data.extrasuccesses" cols="30" rows="3">{{data.extrasuccesses}}</textarea>
    </div>
</div>
