<form>
  <div class="misc-mod-popup">
    <div class="partial-three">
      <div class="misc-mod">
          <label class="misc-mod-description-option">{{localize "earthdawn.m.modifierStep"}}: </label>
          <input class="misc-mod-input circleInput" id="dialog_box" autofocus/>
      </div>
      <div class="misc-mod">
          <label class="misc-mod-description-option">{{localize "earthdawn.d.difficulty"}}: </label>
          <input class="misc-mod-input circleInput" id="difficulty_box" value={{inputs.difficulty}} data-type="number" />
      </div>
      <div>
        <div class="misc-mod">
            <label class="misc-mod-description-option">{{localize "earthdawn.s.strain"}}:</label>
            <input class="misc-mod-input circleInput" id="strain_box" value={{inputs.strain}} data-type="number" />
        </div>
      </div>
      <div class="misc-mod">
          <label class="misc-mod-description-option">{{localize "earthdawn.k.karma"}}: </label>
          <input class="misc-mod-input circleInput" id="karma_box" value={{inputs.karma}} data-type="number" />
      </div>
    </div>
    <div>
      <div class="partial-three">
          <h4 class="centered">{{localize "earthdawn.d.defenseTarget"}}</h4> <br>
          <input type="radio" name="defense" value="none">
          <label for="none">{{localize "earthdawn.n.none"}}</label><br>
          <input type="radio" name="defense" value="physical">
          <label for="physical">{{localize "earthdawn.d.defensePhysical"}}</label><br>
          <input type="radio" name="defense" value="mystical">
          <label for="mystical">{{localize "earthdawn.d.defenseMagical"}}</label><br>
          <input type="radio" name="defense" value="social">
          <label for="social">{{localize "earthdawn.d.defenseSocial"}}</label><br>
      </div>
    </div>
    <div>
      <div class="partial-three">
        <h4 class="centered">{{localize "earthdawn.d.defenseGroup"}}</h4>
        <input type="radio" name="targets" value="nodefenseHighestne">
        <label for="defenseHighest">{{localize "earthdawn.d.defeneseHighest"}}</label><br>
        <input type="radio" name="targets" value="defenseHighest+#">
        <label for="defenseHighest+#">{{localize "earthdawn.d.defeneseHighest#"}}</label><br>
        <input type="radio" name="targets" value="defenseLowest">
        <label for="defenseLowest">{{localize "earthdawn.d.defenseLowest"}}</label><br>
        <input type="radio" name="targets" value="defenseLowest+#">
        <label for="defenseLowest+#">{{localize "earthdawn.d.defenseLowest#"}}</label><br>
      </div>
    </div>
  </div>
  <div>
    <button class="buttonAction take-damage">{{localize "earthdawn.o.ok"}}</button>
  </div>
</form>
