// This should set the text when you create an actor and item to capitalize
#entity-create {
  option,
  select {
    text-transform: capitalize;
  }
}

.rightbar,
.leftbar,
#chat-log,
.window-content,
textarea,
.buttonAction,
.roll-result {
  .ArnoProRegular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .WarhorseDIY;
}

.line-simple {
  height: 1px;
  width: 100%;
  border-top: 1px solid rgb(5, 0, 0);
}

.nav-discipline-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.discipline {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sheet nav.sheet-tabs {
  border-top: none;
  border-bottom: none;
}

.table-borderless{
    border-top: none;
    border-bottom: none;
}

.space-holder {
  height: 10px;
}

.step-display {
  outline: none;
  border-radius: 3px;
  border: 1px solid;
}

.inherent-width {
  width: calc(100% - 2px);
}

.table-border {
  border: 1px solid #7a7971;
}

.thread-nav {
  height: 50px;
}

.window-app {
  background-image: url('../assets/background1.png');
  background-repeat: no-repeat;
  background-size: auto;
  padding: 0;

  .misc-mod {
    display: flex;
    flex-direction: row;

    .misc-mod-description {
      padding-top: 7px;
      width: 30%;
      float: left;
    }
    .misc-mod-description-option {
      padding-top: 7px;
      width: 60%;
      float: left;
    }

    .misc-mod-input {
      padding-bottom: 3px;
      float: right;
      background: none;
    }
  }
  .misc-mod-popup {
    height: 165px;
  }

  .dialog-button {
    width: 50px;
    height: 30px;
    vertical-align: bottom;
    text-align: center;
  }
}

.window-header {
  background-image: url('../assets/green-marble-dialog-header.png');
}

.actor-sheet {
  background-image: url('../assets/background1.png');
  background-size: 100%;
}

.window-app .window-content {
  background-image: url('../assets/background1.png');
  background-size: 100%;
  padding-left: 15px;
  padding-right: 15px;
  
}

#combat #combat-tracker {
  background-image: url('../assets/background1.png');
  background-size: 100%;
}

#logo {
  content: url('../assets/earthdawn-logo.png');
  width: 120px;
  height: auto;
  padding-right: 10px;
}

#pause img{
  content: url('../assets/pause.png');
  width: 128px;
  height: auto;
  opacity: 0.5;
  -webkit-animation: rotation 5s infinite linear;
  position: absolute;
  left: calc(50% - 64px);
}

.fa-dice-d20:hover {
  color: red;
  font-size: larger;
}

.border {
  border-bottom: solid;
  border-width: 1px;
  padding: 1px;
  border-color: rgb(92, 92, 92);
}

h2 {
  text-align: center;
}

.editor-content.p {
  font-size: large;
}

.maskCharacteristics{
  height: 150px;
}

// General Styles
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-7 {
  padding-top: 7px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-middle-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.padding-left-3 {
  padding-left: 3px;
}
.padding-left-6 {
  padding-left: 6px;
}
.padding-left-8 {
  padding-left: 8px;
}
.padding-right-3 {
  padding-right: 3px;
}
.padding-right-6 {
  padding-right: 6px;
}
.padding-right-8 {
  padding-right: 8px;
}

.partial-two {
  float: left;
  width: 50%;
}
.partial-three {
  float: left;
  width: 33.3%;
  height: 32px;
}
.partial-four {
  float: left;
  width: 25%;
  min-height: 32px;
}
.partial-four-a {
  float: left;
  width: 26%;
  height: 32px;
}
.partial-five {
  float: left;
  width: 20%;
  height: 32px;
}
.partial-six {
  float: left;
  width: 16.6%;
  height: 32px;
}

.centered {
  text-align: center;
}
.text-align-middle {
  vertical-align: middle;
  display: flex;
  align-items: center;
}


.space {
  margin-top: 85px;
}
.space-small {
  margin-top: 30px;
}
.space-smaller {
  margin-top: 15px;
}

.static {
  position: static;
}

.editor {
  min-height: 200px;
}


//broken links start

.brokenLinks{
  a.entity-link.broken{
    background: none;
    border: none;
  }
  .fa-unlink:before {
    content: none;
  }
}

//broken links end

//general GUI text changes
p, .weave-thread-box {
  margin: 0.5em 0;
  line-height: 150%;
  font-size: 1.2em;
}

.chat-message .message-header .flavor-text, .chat-message .message-header .whisper-to {
  font-size: 1.2em;
}

p:first-child:first-letter {
  font-size: 200%;
  color:rgb(112, 13, 13);
  .OldLondon;
}

.weave-thread-box {
  height: fit-content;
}