<div class="item-properties wide-xl">
    <ol class="properties-list">

        {{!-- Devotion --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.r.rank"}}</label>
                    <input type="number" name="data.ranks" value="{{data.ranks}}">
                </div>
            </div>

            <div class="grid grid-2col no-gap">
                {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-attribute.hbs"}}

                {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-action.hbs"}}

                {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-devotion-required.hbs"}}

                {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-favorite.hbs"}}
            </div>
        </li>

    </ol>
</div>


