<div class="item-properties wide">
    <ol class="properties-list max-height">

        <li class="max-height">
            <!-- SHEET NAVIGATION -->
            <nav class="grid grid-1col no-gap sheet-navigation tabs discipline-tabs" data-group="primary">
                <a class="no-margin nav active" data-tab="description">{{ localize "earthdawn.d.description" }}</a>
                <a class="no-margin nav" data-tab="discipline-values">{{ localize "earthdawn.i.information" }}</a>
                <a class="no-margin nav" data-tab="circle-1">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    1</a>
                <a class="no-margin nav" data-tab="circle-2">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    2</a>
                <a class="no-margin nav" data-tab="circle-3">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    3</a>
                <a class="no-margin nav" data-tab="circle-4">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    4</a>
                <a class="no-margin nav" data-tab="circle-5">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    5</a>
                <a class="no-margin nav" data-tab="circle-6">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    6</a>
                <a class="no-margin nav" data-tab="circle-7">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    7</a>
                <a class="no-margin nav" data-tab="circle-8">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    8</a>
                <a class="no-margin nav" data-tab="circle-9">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    9</a>
                <a class="no-margin nav" data-tab="circle-10">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    10</a>
                <a class="no-margin nav" data-tab="circle-11">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    11</a>
                <a class="no-margin nav" data-tab="circle-12">{{ localize (DisciplineOrOther data.discipline 'nav')}}
                    12</a>
                {{#if (eq data.discipline "discipline")}}
                    <a class="no-margin nav" data-tab="circle-13">{{ localize
                            (DisciplineOrOther data.discipline 'nav')}} 13</a>
                    <a class="no-margin nav" data-tab="circle-14">{{ localize
                            (DisciplineOrOther data.discipline 'nav')}} 14</a>
                    <a class="no-margin nav" data-tab="circle-15">{{ localize
                            (DisciplineOrOther data.discipline 'nav')}} 15</a>
                {{/if}}
            </nav>
        </li>

    </ol>
</div>

