<div class="item-properties wide">
    <ol class="properties-list">

        {{!-- Knack --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-2col">
                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-attribute.hbs"}}

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-action.hbs"}}

                    <label>{{localize "earthdawn.s.standardEffect"}}</label>
                    <select name="data.standardEffect" class="inherent-width" value="{{data.standardEffect}}">
                        {{#select data.standardEffect}}
                            <option value="false">{{localize "earthdawn.n.no"}}</option>
                            <option value="true">{{localize "earthdawn.y.yes"}}</option>
                        {{/select}}
                    </select>

                    <label>{{localize "earthdawn.s.skill"}}</label>
                    <select name="data.skillUse" class="inherent-width" value="{{data.skillUse}}">
                        {{#select data.skillUse}}
                            <option value="false">{{localize "earthdawn.n.no"}}</option>
                            <option value="true">{{localize "earthdawn.y.yes"}}</option>
                        {{/select}}
                    </select>

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-favorite.hbs"}}

                    <label>{{localize "earthdawn.r.restrictions"}}</label>
                    <input type="text" name="data.restrictions" value="{{data.restrictions}}">

                    {{#if (eq owner true)}}
                        <div class="grid grid-2col">
                            <label>{{localize "earthdawn.s.source"}}</label>
                            <input type="text" name="data.sourceTalentName" value="{{data.sourceTalentName}}">
                        </div>
                    {{/if}}
                </div>

                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.t.talentRequirement"}}</label>
                    <input type="number" name="data.talentRequirement" value="{{data.talentRequirement}}">

                    <label class="grid-span-3">{{localize "earthdawn.s.strain"}}</label>
                    <input type="number" name="data.strain" value="{{data.strain}}">
                </div>
            </div>
        </li>

    </ol>
</div>

