<div class="item-properties wide">
    <ol class="properties-list">

        {{!-- Skill --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label>{{localize "Rank"}}</label>
                    <input type="number" name="data.ranks" value="{{data.ranks}}">

                    <label>{{localize "Strain"}}</label>
                    <input type="number" name="data.strain" value="{{data.strain}}">
                </div>

                <div class="grid grid-2col">
                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-attribute.hbs"}}

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-action.hbs"}}
                </div>
            </div>
        </li>

    </ol>
</div>

