<div class="item-properties wide">
    <ol class="properties-list">
        {{!-- Thread --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.t.threadValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label>{{localize "earthdawn.r.rank"}}</label>
                    <input type="number" name="data.rank" value="{{data.rank}}">

                    <label>{{localize "earthdawn.t.target"}}</label>
                    <input type="text" name="data.target" value="{{data.target}}">
                </div>

                <div class="grid grid-2col">
                    <label>{{localize "earthdawn.c.characteristic"}}</label>
                    <select name="data.characteristic">
                        {{#select data.characteristic}}
                            <option value="physicaldefense">{{localize 'earthdawn.d.defensePhysical'}}</option>
                            <option value="mysticdefense">{{localize 'earthdawn.d.defenseMagical'}}</option>
                            <option value="socialdefense">{{localize 'earthdawn.d.defenseSocial'}}</option>
                            {{#each parentTalents as |talent id|}}
                                <option value="{{id}}">{{talent.name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </li>

        <hr>

        {{!-- Checkmarks --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.status" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.active" {{checked data.active}}/> {{ localize
                        "earthdawn.a.active" }}
                </label>
            </div>
        </li>

    </ol>
</div>

