<div class="item-properties wide-xl">
    <ol class="properties-list">

        {{!-- WEAPON --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.d.damageStep"}}</label>
                    <input type="number" name="data.damagestep" value="{{data.damagestep}}">

                    <label class="grid-span-3">{{localize "earthdawn.s.strengthMinimum"}}</label>
                    <input type="number" name="data.strenghtminimum" value="{{data.strenghtminimum}}">

                    <label>{{localize "earthdawn.s.size"}}</label>
                    <input type="number" name="data.size" value="{{data.size}}">

                    <label>{{localize "earthdawn.w.weight"}}</label>
                    <input type="number" name="data.weight" value="{{data.weight}}">

                    <label class="grid-span-3">{{localize "earthdawn.r.rangeShort"}}</label>
                    <input type="number" name="data.shortrange" value="{{data.shortrange}}">

                    <label class="grid-span-3">{{localize "earthdawn.r.rangeLong"}}</label>
                    <input type="number" name="data.longrange" value="{{data.longrange}}">

                    <label class="grid-span-3">{{localize "earthdawn.a.ammunition"}}</label>
                    <input type="number" name="data.ammo.value" value="{{data.ammo.value}}">

                    <label class="grid-span-3">{{localize "earthdawn.t.timesForged"}}</label>
                    <input type="number" name="data.timesForged" value="{{data.timesForged}}">

                    <label class="grid-span-3">{{localize "earthdawn.b.bloodDamage"}}</label>
                    <input type="number" name="data.bloodMagicDamage" value="{{data.bloodMagicDamage}}">
                </div>

                <div class="grid grid-2col">
                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-attribute.hbs"}}

                    <label>{{localize "earthdawn.w.weaponType"}}</label>
                    <select name="data.weapontype">
                        {{#select data.weapontype}}
                            <option value="Melee">{{localize 'earthdawn.m.melee'}}</option>
                            <option value="Ranged">{{localize 'earthdawn.r.ranged'}}</option>
                            <option value="Thrown">{{localize 'earthdawn.t.thrown'}}</option>
                            <option value="Unarmed">{{localize "earthdawn.u.unarmed"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </li>

        <hr>

        {{!-- Checkmarks --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.status" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="data.worn" {{checked data.worn}}/> {{ localize
                        "earthdawn.e.equipped" }}
                </label>
                {{#if (eq isGM true)}}
                    <label class="checkbox">
                        <input type="checkbox" name="data.isthread" {{checked data.isthread}}/> {{ localize
                            "earthdawn.t.thread" }}
                    </label>
                {{/if}}
            </div>
        </li>

        <hr>

        {{!-- Leftovers --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.shopValues" }}</label>
                <div class="grid grid-2col no-gap">
                    <label>{{localize "earthdawn.c.cost"}}</label>
                    <input type="number" name="data.cost" value="{{data.cost}}">

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-availability.hbs"}}
                </div>
            </div>
        </li>
    </ol>
</div>

