.earthdawn.sheet.discipline {
  .navigatorDisciplin {
    float: left;
    width: 100px;
  }

  .nav-discipline-tabBody {
    float: right;
    margin-left: auto;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .list {
    list-style-type: none;
  }
}
