<form class="taka-theme item flexcol" autocomplete="off">

    <!-- SHEET HEADER -->
    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/discipline-sheet-header.hbs"}}

    <!-- SHEET BODY -->
    <section class="sheet-body flexrow discipline-body">
        {{> 'systems/earthdawn4e/templates/taka-theme/items/partials/sidebars/discipline-sidebar.hbs'}}

        <div class="tab active flexrow" id="description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="discipline-values">
            {{editor content=data.descriptionGameInfo target="data.descriptionGameInfo" button=true owner=owner
                     editable=editable}}
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-1">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle1.characteristic"
                            value="{{data.circle1.characteristic}}">
                        {{#select data.circle1.characteristic}}
                            <option value="">{{localize
                                    "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle1.value" value="{{data.circle1.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-novice')}}</h3>
                    {{editor content=data.descriptionNovice target="data.descriptionNovice" button=true owner=owner
                             editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle1 target="data.descriptionCircle1" button=true owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle1 target="data.descriptionCircle1" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-2">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle2.characteristic"
                            value="{{data.circle2.characteristic}}">
                        {{#select data.circle2.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle2.value" value="{{data.circle2.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-novice')}}</h3>
                    {{editor content=data.descriptionNovice target="data.descriptionNovice" button=true owner=owner
                             editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle2 target="data.descriptionCircle2" button=true owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle2 target="data.descriptionCircle2" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-3">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle3.characteristic"
                            value="{{data.circle3.characteristic}}">
                        {{#select data.circle3.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle3.value" value="{{data.circle3.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-novice')}}</h3>
                    {{editor content=data.descriptionNovice target="data.descriptionNovice" button=true owner=owner
                             editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle3 target="data.descriptionCircle3" button=true owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle3 target="data.descriptionCircle3" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-4">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle4.characteristic"
                            value="{{data.circle4.characteristic}}">
                        {{#select data.circle4.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle4.value" value="{{data.circle4.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-novice')}}</h3>
                    {{editor content=data.descriptionNovice target="data.descriptionNovice" button=true owner=owner
                             editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle4 target="data.descriptionCircle4" button=true owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle4 target="data.descriptionCircle4" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-5">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle5.characteristic"
                            value="{{data.circle5.characteristic}}">
                        {{#select data.circle5.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle5.value" value="{{data.circle5.value}}"/>
                </div>
                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-journeyman')}}</h3>
                    {{editor content=data.descriptionJourneyman target="data.descriptionJourneyman" button=true
                             owner=owner editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle5 target="data.descriptionCircle5" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle5 target="data.descriptionCircle5" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-6">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle6.characteristic"
                            value="{{data.circle6.characteristic}}">
                        {{#select data.circle6.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle6.value" value="{{data.circle6.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-journeyman')}}</h3>
                    {{editor content=data.descriptionJourneyman target="data.descriptionJourneyman" button=true
                             owner=owner editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle6 target="data.descriptionCircle6" button=true owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle6 target="data.descriptionCircle6" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-7">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle7.characteristic"
                            value="{{data.circle7.characteristic}}">
                        {{#select data.circle7.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle7.value" value="{{data.circle7.value}}"/>
                </div>
                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-journeyman')}}</h3>
                    {{editor content=data.descriptionJourneyman target="data.descriptionJourneyman" button=true
                             owner=owner editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle7 target="data.descriptionCircle7" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle7 target="data.descriptionCircle7" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-8">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle8.characteristic"
                            value="{{data.circle8.characteristic}}">
                        {{#select data.circle8.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle8.value" value="{{data.circle8.value}}"/>
                </div>
                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-journeyman')}}</h3>
                    {{editor content=data.descriptionJourneyman target="data.descriptionJourneyman" button=true
                             owner=owner editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle8 target="data.descriptionCircle8" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle8 target="data.descriptionCircle8" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-9">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle9.characteristic"
                            value="{{data.circle9.characteristic}}">
                        {{#select data.circle9.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle9.value" value="{{data.circle9.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-warden')}}</h3>
                    {{editor content=data.descriptionWarden target="data.descriptionWarden" button=true owner=owner
                             editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle9 target="data.descriptionCircle9" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle9 target="data.descriptionCircle9" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-10">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle10.characteristic"
                            value="{{data.circle10.characteristic}}">
                        {{#select data.circle10.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle10.value" value="{{data.circle10.value}}"/>
                </div>
                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-warden')}}</h3>
                    {{editor content=data.descriptionWarden target="data.descriptionWarden" button=true owner=owner
                             editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle10 target="data.descriptionCircle10" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle10 target="data.descriptionCircle10" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-11">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle11.characteristic"
                            value="{{data.circle11.characteristic}}">
                        {{#select data.circle11.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle11.value" value="{{data.circle11.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-warden')}}</h3>
                    {{editor content=data.descriptionWarden target="data.descriptionWarden" button=true owner=owner
                             editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle11 target="data.descriptionCircle11" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle11 target="data.descriptionCircle11" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-12">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="data.circle12.characteristic"
                            value="{{data.circle12.characteristic}}">
                        {{#select data.circle12.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="data.circle12.value" value="{{data.circle12.value}}"/>
                </div>
                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther data.discipline 'talent-warden')}}</h3>
                    {{editor content=data.descriptionWarden target="data.descriptionWarden" button=true owner=owner
                             editable=editable}}
                </div>

                {{#if (eq data.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle12 target="data.descriptionCircle12" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}

                {{#if (eq data.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-abilities')}}</h3>
                        {{editor content=data.descriptionCircle12 target="data.descriptionCircle12" button=true
                                 owner=owner editable=editable}}
                    </div>
                {{/if}}
            </div>
        </div>
        {{#if (eq data.discipline "discipline")}}
            <div class="tab flexrow" data-group="primary" data-tab="circle-13">
                <div class='grid grid-2col'>
                    <div class="grid-span-2 grid grid-3col">
                        <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        <select class="inherent-width" name="data.circle13.characteristic"
                                value="{{data.circle13.characteristic}}">
                            {{#select data.circle13.characteristic}}
                                <option value="">{{localize "earthdawn.n.none"}}</option>
                                <option value="carryingcapacity">{{localize
                                        "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                                <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                                <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                                <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                                <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                                <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                                <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                                <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                            {{/select}}
                        </select>
                        <input type="number" name="data.circle13.value" value="{{data.circle13.value}}"/>
                    </div>
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-master')}}</h3>
                        {{editor content=data.descriptionMaster target="data.descriptionMaster" button=true owner=owner
                                 editable=editable}}
                    </div>

                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle13 target="data.descriptionCircle13" button=true
                                 owner=owner editable=editable}}
                    </div>
                </div>
            </div>
            <div class="tab flexrow" data-group="primary" data-tab="circle-14">
                <div class='grid grid-2col'>
                    <div class="grid-span-2 grid grid-3col">
                        <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        <select class="inherent-width" name="data.circle14.characteristic"
                                value="{{data.circle14.characteristic}}">
                            {{#select data.circle14.characteristic}}
                                <option value="">{{localize "earthdawn.n.none"}}</option>
                                <option value="carryingcapacity">{{localize
                                        "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                                <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                                <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                                <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                                <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                                <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                                <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                                <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                            {{/select}}
                        </select>
                        <input type="number" name="data.circle14.value" value="{{data.circle14.value}}"/>
                    </div>
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-master')}}</h3>
                        {{editor content=data.descriptionMaster target="data.descriptionMaster" button=true owner=owner
                                 editable=editable}}
                    </div>

                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle14 target="data.descriptionCircle14" button=true
                                 owner=owner editable=editable}}
                    </div>
                </div>
            </div>
            <div class="tab flexrow" data-group="primary" data-tab="circle-15">
                <div class='grid grid-2col'>
                    <div class="grid-span-2 grid grid-3col">
                        <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        <select class="inherent-width" name="data.circle15.characteristic"
                                value="{{data.circle15.characteristic}}">
                            {{#select data.circle15.characteristic}}
                                <option value="">{{localize "earthdawn.n.none"}}</option>
                                <option value="carryingcapacity">{{localize
                                        "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                                <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                                <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                                <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                                <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                                <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                                <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                                <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                            {{/select}}
                        </select>
                        <input type="number" name="data.circle15.value" value="{{data.circle15.value}}"/>
                    </div>

                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther data.discipline 'talent-master')}}</h3>
                        {{editor content=data.descriptionMaster target="data.descriptionMaster" button=true owner=owner
                                 editable=editable}}
                    </div>

                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor content=data.descriptionCircle15 target="data.descriptionCircle15" button=true
                                 owner=owner editable=editable}}
                    </div>
                </div>
            </div>
        {{/if}}
    </section>
</form>
