<form class="taka-theme item flexcol" autocomplete="off">

	<!-- SHEET HEADER -->
	{{> "systems/earthdawn4e/templates/taka-theme/items/partials/item-sheet-header.hbs"}}

	<!-- SHEET NAVIGATION -->
	{{> "systems/earthdawn4e/templates/taka-theme/items/partials/navs/inventory-nav.hbs"}}

	<!-- SHEET BODY -->
	<section class="sheet-body">
		<!-- SIDEBAR -->
		<div class="tab flexrow active" data-group="primary" data-tab="description">
			{{> 'systems/earthdawn4e/templates/taka-theme/items/partials/sidebars/equipment-sidebar.hbs'}}
			{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
		</div>

		<!-- THREAD -->
		{{> "systems/earthdawn4e/templates/taka-theme/items/partials/tabs/thread-tab.hbs"}}
	</section>

</form>
