@import '../global/config';

.earthdawn.sheet.actor {
  .leftbar {
    float: left;
    width: 30%;
    font-size: 0.8rem;
    font-weight: lighter;
  }

  .rightbar {
    float: right;
    width: 68%;
    font-size: 0.8rem;
    border: none;
  }

  #gradAlignment {
    text-orientation: upright;
    transform: rotate(315deg);
    font-size: 0.7rem;
    height: 50px;
  }

  #gradAlignmentNavigator {
    text-orientation: upright;
    transform: rotate(315deg);
    font-size: 0.7rem;
    white-space: nowrap;
    height: 20px;
  }

  .oneLine {
    display: flex;
    flex-direction: row;

    .itemControlGroup {
      margin-left: auto;
    }
  }

  .roll-result {
    font-weight: bolder;
  }

  .charName {
    font-weight: bold;
    font-size: large;
  }

  .karmaSection {
    font-weight: 900;
  }

  .coins {
    border: none;
  }

  .npcPowers {
    min-height: 400px;
  }

  .combatTabPlayer {
    height: 400px;
  }
}
