.earthdawn.sheet.actor {
    .buttonAction {
        background-image: url("../assets/green-marble-dialog-header.png");
        border: none;
        color: white;
        padding: 1px 3px;
        text-align: center;
        margin: 2px 2px;
        width: 90%;
        cursor: pointer;
        height: 26px;
        border-radius: 13px;
        
    }

    .buttonAction:hover {
        opacity: 1
    }

    .fa-fist-raised{
        font-size: 25px;
        margin-right: 2.5px;
        margin-left: 2.5px;
    }
}
