<div class="actor-properties normal">
	<ol class="properties-list">
		<li>
			<label class='title'>{{ localize "earthdawn.a.attributes" }}</label>

			<hr>

			<label class='sub-title'>
				{{ localize "earthdawn.s.step" }}
			</label>
			<div class="grid grid-3col margin-top-20 no-gap attribute">
				<a data-name="earthdawn.d.dexterity" data-att="dexterityStep" class='grid-span-2 attribute-roll'>{{localize "earthdawn.d.dexterity"}}</a>
				<input type="number" name="data.dexterityStep" value="{{data.dexterityStep}}">
			</div>
			<div class="grid grid-3col no-gap attribute">
				<a data-name="earthdawn.s.strength" data-att="strengthStep" class='grid-span-2 attribute-roll'>{{localize "earthdawn.s.strength"}}</a>
				<input type="number" name="data.strengthStep" value="{{data.strengthStep}}">
			</div>
			<div class="grid grid-3col no-gap attribute">
				<a data-name="earthdawn.t.toughness" data-att="toughnessStep" class='grid-span-2 attribute-roll'>{{localize "earthdawn.t.toughness"}}</a>
				<input type="number" name="data.toughnessStep" value="{{data.toughnessStep}}">
			</div>
			<div class="grid grid-3col no-gap attribute">
				<a data-name="earthdawn.p.perception" data-att="perceptionStep" class='grid-span-2 attribute-roll'>{{localize "earthdawn.p.perception"}}</a>
				<input type="number" name="data.perceptionStep" value="{{data.perceptionStep}}">
			</div>
			<div class="grid grid-3col no-gap attribute">
				<a data-name="earthdawn.w.willpower" data-att="willpowerStep" class='grid-span-2 attribute-roll'>{{localize "earthdawn.w.willpower"}}</a>
				<input type="number" name="data.willpowerStep" value="{{data.willpowerStep}}">
			</div>
			<div class="grid grid-3col no-gap attribute">
				<a data-name="earthdawn.c.charisma" data-att="charismaStep" class='grid-span-2 attribute-roll'>{{localize "earthdawn.c.charisma"}}</a>
				<input type="number" name="data.charismaStep" value="{{data.charismaStep}}">
			</div>
		</li>

		<hr>

		<li>
			<label class='title'>{{ localize "earthdawn.m.miscellaneous" }}</label>

			<div class="grid grid-3col margin-top-20 no-gap">
				<label class='grid-span-2'>{{localize "earthdawn.k.karmaDice"}}</label>
				{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/selects/select-karma-dice.hbs'}}
			</div>

			<hr>

			<div class="grid grid-3col margin-top-20 no-gap attribute">
				<label class='grid-span-2'>{{localize "earthdawn.m.movement"}}</label>
				<input type="number" name="data.movement" value="{{data.movement}}">
			</div>

			<div class="grid grid-3col margin-top-20 no-gap attribute">
				<label class='grid-span-2'>{{localize "earthdawn.o.otherMovement"}}</label>
				<input type="number" name="data.otherMovement" value="{{data.otherMovement}}">
			</div>
		</li>
	</ol>
</div>
