<ul class="attributes grid grid-3col no-gap">
	{{!-- Damage Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">
			{{ localize "earthdawn.d.damage" }}
		</h4>
		<div class="attribute-value multiple">
			<input name="data.damage.value" type="text" value="{{data.damage.value}}" placeholder="0" data-dtype="Number"/>
			{{#if (PC this)}}
				<label>
					<span class="sep"> / </span>
					<span class="threshold">{{data.unconscious.max}}</span>
					<span class="sep"> / </span>
					<span class="threshold">{{data.damage.max}}</span>
				</label>
			{{else}}
				<div class='grid grid-6col no-gap'>
					<span class="sep"> / </span>
					<input class='grid-span-2' name="data.unconsciousThreshold" type="number" value="{{data.unconsciousThreshold}}"/>
					<span class="sep"> / </span>
					<input class='grid-span-2'  name="data.deathThreshold" type="number" value="{{data.deathThreshold}}"/>
				</div>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.d.dmg"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.u.ucs"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.d.death"}}</span>
		</footer>
	</li>

	{{!-- Defenses Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">
			{{ localize "earthdawn.d.defenses" }}
		</h4>
		<div class="attribute-value multiple">
			{{#if (PC this)}}
				<label>
					<span class="threshold">{{data.physicaldefense}}</span>
					<span class="sep"> / </span>
					<span class="threshold">{{data.mysticdefense}}</span>
					<span class="sep"> / </span>
					<span class="threshold">{{data.socialdefense}}</span>
				</label>
			{{else}}
				<div class='grid grid-8col'>
					<input class='grid-span-2' name="data.physicaldefense" type="number" value="{{data.physicaldefense}}"/>
					<span class="sep"> / </span>
					<input class='grid-span-2'  name="data.mysticdefense" type="number" value="{{data.mysticdefense}}"/>
					<span class="sep"> / </span>
					<input class='grid-span-2'  name="data.socialdefense" type="number" value="{{data.socialdefense}}"/>
				</div>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.p.physical"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.m.mystic"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.s.social"}}</span>
		</footer>
	</li>

	{{!-- Armor Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">{{ localize "earthdawn.a.armors" }}</h4>
		<div class="attribute-value multiple">
			{{#if (PC this)}}
				<label>
					<span class="threshold">{{data.physicalarmor}}</span>
					<span class="sep"> / </span>
					<span class="threshold">{{data.mysticarmor}}</span>
				</label>
			{{else}}
				<div class='grid grid-5col'>
					<input class='grid-span-2' name="data.physicalarmor" type="number" value="{{data.physicalarmor}}"/>
					<span class="sep"> / </span>
					<input class='grid-span-2'  name="data.mysticarmor" type="number" value="{{data.mysticarmor}}"/>
				</div>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.p.physical"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.m.mystic"}}</span>
		</footer>
	</li>

	{{!-- Wounds Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">{{ localize "earthdawn.w.wounds" }}</h4>
		<div class="attribute-value multiple">
			<input name="data.wounds" type="number" value="{{data.wounds}}" placeholder="0"/>
			{{#if (PC this)}}
				<label>
					<span class="sep"> / </span>
					<span class="threshold">{{data.woundThreshold}}</span>
				</label>
			{{else}}
			<span class="sep"> / </span>
			<input name="data.woundThreshold" type="number" value="{{data.woundThreshold}}"/>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.c.current"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.t.threshold"}}</span>
		</footer>
	</li>

	{{!-- Recovery Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">
			{{ localize "earthdawn.r.recovery" }}
		</h4>
		<div class="attribute-value multiple">
			{{#if (eq data.type 'creature')}}
				<input name="data.recoverytests" type="number" value="{{data.recoverytests}}" placeholder="0"/>
			{{else}}
				<input name="data.recoverytestscurrent" type="number" value="{{data.recoverytestscurrent}}" placeholder="0"/>
			{{/if}}
			{{#if (PC this)}}
				<label>
					<span class="sep"> / </span>
					<span class="threshold">{{data.recoverytestsrefreshFinal}}</span>
				</label>
			{{else}}
				<span class="sep"> / </span>
				<input name="data.recoverytestsrefresh" type="number" value="{{data.recoverytestsrefresh}}"/>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.c.current"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.d.daily"}}</span>
			<span class="sep"> / </span>
			<a class="fas fa-first-aid recovery-roll" title="{{localize "earthdawn.r.recovery"}}"></a>
		</footer>
	</li>

	{{!-- Karma Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">{{ localize "earthdawn.k.karma" }}</h4>
		<div class="attribute-value multiple">
			<input name="data.karma.value" type="number" value="{{data.karma.value}}" placeholder="0"/>
			{{#if (PC this)}}
				<label>
					<span class="sep"> / </span>
					<span class="threshold">{{data.karma.max}}</span>
				</label>
			{{else}}
				<span class="sep"> / </span>
				<input name="data.karma.max" type="number" value="{{data.karma.max}}"/>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.c.current"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.m.max"}}</span>
		</footer>
	</li>
</ul>
