<div class="actor-properties wide">
	<ol class="properties-list">
        <!-- Classes and Namegiver -->
        {{#if (NamegiverOrClass this)}}
            <li>
                <label class='title'>{{ localize "earthdawn.c.classesAndRace" }}</label>
                <hr>

                <div class="grid grid-3col margin-top-5 margin-bottom-5 no-gap">
                    <label>{{localize "earthdawn.r.race"}}</label>
                    {{#with (getNamegiver this)}}
                        <div class="item-name grid-span-2" data-item-id="{{_id}}">
                              <span>
                                <a class="item-edit">{{name}}</a>
                                <a class="item-control item-delete" title="Delete Item">
                                    <i class="fas fa-trash"></i>
                                </a>
                              </span>
                        </div>
                    {{/with}}
                </div>

                <div class="grid grid-3col margin-top-5 margin-bottom-5 no-gap">
                    {{#each (getDisciplines disciplines)}}
                        {{#if (eq @index 0)}}
                            <label>{{localize "earthdawn.d.discipline"}}</label>
                        {{else}}
                            <label></label>
                        {{/if}}
                        <div class="item-name grid-span-2" data-item-id="{{_id}}">
                          <span>
                            <a class="item-edit">{{name}} {{data.circle}}</a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                          </span>
                        </div>
                    {{/each}}
                </div>

                {{#if (PathOrQuestor disciplines)}}
                    {{#if (hasDisciplineType disciplines 'path')}}
                        <div class="grid grid-3col margin-top-5 margin-bottom-5 no-gap">
                            <label>{{localize "earthdawn.p.path"}}</label>
                            {{#with (findDiscipline disciplines 'path')}}
                                <div class="item-name grid-span-2" data-item-id="{{_id}}">
                                  <span>
                                    <a class="item-edit">{{name}}</a>
                                    <a class="item-control item-delete" title="Delete Item">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                  </span>
                                </div>
                            {{/with}}
                        </div>
                    {{/if}}
                    {{#if (hasDisciplineType disciplines 'questor')}}
                <div class="grid grid-3col margin-top-5 margin-bottom-5 no-gap">
                    <label>{{localize "earthdawn.q.questor"}}</label>
                    {{#with (findDiscipline disciplines 'questor')}}
                        <div class="item-name grid-span-2" data-item-id="{{_id}}">
                          <span>
                            <a class="item-edit">{{name}}</a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                          </span>
                        </div>
                    {{/with}}
                    </div>
                {{/if}}
                {{/if}}
            </li>
            <hr>
        {{/if}}
        <!-- Attributes -->
		<li>
			<label class='title'>{{ localize "earthdawn.a.attributes" }}</label>

			<hr>

			<label class='sub-title {{#if (NPC this)}}margin-right-25{{/if}}'>
				{{#if (PC this)}}{{ localize "earthdawn.c.current" }} /{{/if}}
				{{ localize "earthdawn.s.step" }}
			</label>
			<div class="grid grid-5col margin-top-20 no-gap attribute">
				<a data-name="earthdawn.d.dexterity" data-att="dexterityStep" class='grid-span-3 attribute-roll'>{{localize "earthdawn.d.dexterity"}}</a>
				{{#if (PC this)}}
					<input type="number" name="data.attributes.dexterityvalue" value="{{data.attributes.dexterityvalue}}">
					<span> / {{data.dexterityStep}}</span>
				{{else}}
					<input class="grid-span-2" type="number" name="data.dexterityStep" value="{{data.dexterityStep}}">
				{{/if}}
			</div>
			<div class="grid grid-5col no-gap attribute">
				<a data-name="earthdawn.s.strength" data-att="strengthStep" class='grid-span-3 attribute-roll'>{{localize "earthdawn.s.strength"}}</a>
				{{#if (PC this)}}
					<input type="number" name="data.attributes.strengthvalue" value="{{data.attributes.strengthvalue}}">
					<span> / {{data.strengthStep}}</span>
				{{else}}
					<input class="grid-span-2" type="number" name="data.strengthStep" value="{{data.strengthStep}}">
				{{/if}}
			</div>
			<div class="grid grid-5col no-gap attribute">
				<a data-name="earthdawn.t.toughness" data-att="toughnessStep" class='grid-span-3 attribute-roll'>{{localize "earthdawn.t.toughness"}}</a>
				{{#if (PC this)}}
					<input type="number" name="data.attributes.toughnessvalue" value="{{data.attributes.toughnessvalue}}">
					<span> / {{data.toughnessStep}}</span>
				{{else}}
					<input class="grid-span-2" type="number" name="data.toughnessStep" value="{{data.toughnessStep}}">
				{{/if}}
			</div>
			<div class="grid grid-5col no-gap attribute">
				<a data-name="earthdawn.p.perception" data-att="perceptionStep" class='grid-span-3 attribute-roll'>{{localize "earthdawn.p.perception"}}</a>
				{{#if (PC this)}}
					<input type="number" name="data.attributes.perceptionvalue" value="{{data.attributes.perceptionvalue}}">
					<span> / {{data.perceptionStep}}</span>
				{{else}}
					<input class="grid-span-2" type="number" name="data.perceptionStep" value="{{data.perceptionStep}}">
				{{/if}}
			</div>
			<div class="grid grid-5col no-gap attribute">
				<a data-name="earthdawn.w.willpower" data-att="willpowerStep" class='grid-span-3 attribute-roll'>{{localize "earthdawn.w.willpower"}}</a>
				{{#if (PC this)}}
					<input type="number" name="data.attributes.willpowervalue" value="{{data.attributes.willpowervalue}}">
					<span> / {{data.willpowerStep}}</span>
				{{else}}
					<input class="grid-span-2" type="number" name="data.willpowerStep" value="{{data.willpowerStep}}">
				{{/if}}
			</div>
			<div class="grid grid-5col no-gap attribute">
				<a data-name="earthdawn.c.charisma" data-att="charismaStep" class='grid-span-3 attribute-roll'>{{localize "earthdawn.c.charisma"}}</a>
				{{#if (PC this)}}
					<input type="number" name="data.attributes.charismavalue" value="{{data.attributes.charismavalue}}">
					<span> / {{data.charismaStep}}</span>
				{{else}}
					<input class="grid-span-2" type="number" name="data.charismaStep" value="{{data.charismaStep}}">
				{{/if}}
			</div>
		</li>
		<hr>

        <!-- Miscellaneous -->
		<li>
			<label class='title'>{{ localize "earthdawn.m.miscellaneous" }}</label>

			<hr>

			<div class="grid grid-2col margin-top-20 no-gap">
				<label>{{localize "earthdawn.u.useKarma"}}</label>
				{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/selects/select-use-karma.hbs'}}
			</div>

			<div class="grid grid-2col margin-top-20 no-gap">
				<label>{{localize "earthdawn.k.karmaDice"}}</label>
				{{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/selects/select-karma-dice.hbs'}}
			</div>

			<hr>

            {{#if (PC this)}}
                {{#if (hasDisciplineType disciplines 'questor')}}
                    {{!-- Devotion Attributes --}}
                    <label class='sub-title'>
                        {{ localize "earthdawn.c.current" }}
                        {{ localize "earthdawn.m.max" }}
                    </label>
                    <div class="grid grid-5col margin-top-20 no-gap">
                        <label class='grid-span-3'>{{localize "earthdawn.d.devotion"}}</label>
                        <input type="number" name="data.devotion.value" value="{{data.devotion.value}}"/>
                        <span class="max-devotion"> / {{data.devotion.max}}</span>
                    </div>

                    <div class="grid grid-2col margin-top-20 no-gap">
                        <label>{{localize "earthdawn.d.devotionDie"}}</label>
                        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/selects/select-devotion-dice.hbs'}}
                    </div>

                    <hr>
                {{/if}}
            {{/if}}

            <label class='sub-title'>
                {{ localize "earthdawn.d.damage" }} /
                {{ localize "earthdawn.w.wounds" }}
            </label>
            <div class="grid grid-4col margin-top-20 no-gap attribute">
                <label class='grid-span-2'>{{localize "earthdawn.b.bloodMagic"}}</label>
                <span>{{data.bloodMagicDamage}}</span>
                <span> / {{data.bloodMagicWounds}}</span>
            </div>

            <hr>

            <div class="grid grid-2col margin-top-20 no-gap attribute">
                <label>{{localize "earthdawn.m.movement"}}</label>
                {{#if (PC this)}}
                    <span>{{data.movementFinal}}</span>
                {{else}}
                    <input type="number" name="data.movement" value="{{data.movement}}">
                {{/if}}
            </div>

            <hr>

			<div class="grid grid-2col no-gap attribute">
				<label>{{localize "earthdawn.h.halfMagic"}}</label>
				<a><i class="fas fa-dice-d20 half-magic" title="{{localize "earthdawn.h.halfmagicRoll"}}"></i></a>
			</div>

			<div class="grid grid-2col no-gap attribute">
				<label>{{localize "earthdawn.n.newDay"}}</label>
				<a><i class="fas fa-bed new-day" title="{{localize "earthdawn.n.newDay"}}"></i></a>
			</div>
		</li>

		{{#if (PC this)}}
			<hr>

            <!-- Dialogs -->
			<li>
				<h3><a class='chargen'>{{localize "earthdawn.c.characterGeneration"}}</a></h3>
			</li>
            <li>
                <h3><a class='override'>{{localize "earthdawn.o.override"}}</a></h3>
            </li>
		{{/if}}
	</ol>
</div>
