<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <div class="creatureHeader">
        <div class="creatureStats creatureLeftBar">
            <h3 id="Name" class="charname">{{localize "earthdawn.n.name"}} <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
            <table class="creatureStatsTable">
                <tr>
                    <td class="step-roll" data-att="dexterityStep" data-name="{{localize 'earthdawn.d.dexterity'}}" >
                        <a>{{localize "earthdawn.d.dexterity"}}</a>
                    </td>
                    <td>
                        <input class="step-display circleInput" type="text" name="data.dexterityStep" value="{{data.dexterityStep}}" />
                    </td>
                    <td class="step-roll" data-att="perceptionStep" data-name="{{localize 'earthdawn.p.perception'}}" >
                        <a>{{localize "earthdawn.p.perception"}}</a>
                    </td>
                    <td>
                        <input class="step-display circleInput" type="text" name="data.perceptionStep" value="{{data.perceptionStep}}" />
                    </td>
                </tr>
                <tr>
                    <td class="step-roll" data-att="strengthStep" data-name="{{localize 'earthdawn.s.strength'}}" >
                        <a>{{localize "earthdawn.s.strength"}}</a>
                    </td>
                    <td>
                        <input class="step-display circleInput" type="text" name="data.strengthStep" value="{{data.strengthStep}}" />
                    </td>
                    <td class="step-roll" data-att="willpowerStep" data-name="{{localize 'earthdawn.w.willpower'}}">
                        <a>{{localize "earthdawn.w.willpower"}}</a>
                    </td>
                    <td>
                        <input class="step-display circleInput" type="text" name="data.willpowerStep" value="{{data.willpowerStep}}" />
                    </td>
                </tr>
                <tr>
                    <td class="step-roll" data-att="toughnessStep" data-name="{{localize 'earthdawn.t.toughness'}}" >
                        <a>{{localize "earthdawn.t.toughness"}}</a>
                    </td>
                    <td>
                        <input class="step-display circleInput" type="text" name="data.toughnessStep" value="{{data.toughnessStep}}" />
                    </td>
                    <td class="step-roll" data-att="charismaStep" data-name="{{localize 'earthdawn.c.charisma'}}" >
                        <a>{{localize "earthdawn.c.charisma"}}</a>
                    </td>
                    <td>
                        <input class="step-display circleInput" type="text" name="data.charismaStep" value="{{data.charismaStep}}" />
                    </td>
                </tr>
            </table>
            <div class="creatureNavigator">
                <hr class="line-simple">
                <h3 class="centered">{{localize "earthdawn.n.navigator"}}</h3>
                <nav class="sheet-tabs centered">
                    <a class="navLeft" data-tab="creatureCharacteristics">{{localize "earthdawn.c.characteristics"}}</a>
                    <a class="navMiddle" data-tab="creatureCombatAction">{{localize "earthdawn.a.action"}}</a>
                    <a class="navRight" data-tab="creatureInformaion">{{localize "earthdawn.i.information"}}</a>
                </nav>
            </div>
        </div>
        <div class="creatureImg creatureRightBar">
            <img class="creatureImgPosition" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="220" width="220"/>
        </div>
    </div>
    <hr class="line-simple">
    <div class="creatureNavigatorContent sheet-body">
        <div class="tab" data-tab="creatureCharacteristics">
            {{> "systems/earthdawn4e/templates/actors/partials/creature-characteristic-tab.hbs"}}
        </div>
        <div class="tab" data-tab="creatureCombatAction">
            {{> "systems/earthdawn4e/templates/actors/partials/creature-combat-tab.hbs"}}
        </div>
        <div class="tab" data-tab="creatureInformaion">
              {{> "systems/earthdawn4e/templates/actors/partials/creature-information-tab.hbs"}}
        </div>
    </div>
</form>

