<select name="data.karmaDie" value='{{data.karmaDie}}'>
	{{#select data.karmaDie}}
		<option value="d4">{{localize "earthdawn.d.d"}}4</option>
		<option value="d6">{{localize "earthdawn.d.d"}}6</option>
		<option value="d8">{{localize "earthdawn.d.d"}}8</option>
		<option value="d10">{{localize "earthdawn.d.d"}}10</option>
		<option value="d12">{{localize "earthdawn.d.d"}}12</option>
		<option value="S8">2{{localize "earthdawn.d.d"}}6</option>
		<option value="S10">2{{localize "earthdawn.d.d"}}8</option>
		<option value="d20">{{localize "earthdawn.d.d"}}20</option>
		<option value="S12">2{{localize "earthdawn.d.d"}}10</option>
	{{/select}}
</select>
