<select name="data.usekarma" value="{{data.usekarma}}"
	{{#select data.usekarma}}>
		<option value="true">{{localize "earthdawn.y.yes"}}</option>
		<option value="false">{{localize "earthdawn.n.no"}}</option>
	{{/select}}
</select>
