<table>
    <tr>
        <th class="item-image margin-right-5"></th>
        <th>{{localize "earthdawn.n.name"}}</th>
        <th>{{localize "earthdawn.r.rank"}}</th>
        <th>{{localize "earthdawn.a.attribute"}}</th>
        <th>{{localize "earthdawn.s.step"}}</th>
        <th>{{localize "earthdawn.a.action"}}</th>
        <th class="centered">
            <a class="item-control item-create" data-type="devotion" title="{{localize 'earthdawn.d.devotionCreate'}}">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </tr>

    {{#each devotions as |devotion i|}}
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/devotion-card.hbs' devotion attributes=../data}}
    {{/each}}
</table>
