<div class="item-name no-flex">
    <h3>{{localize "earthdawn.s.shields"}}</h3>
</div>
<table>
    <tr>
        <th class="item-image margin-right-5"></th>
        <th>{{localize "earthdawn.n.name"}}</th>
        <th>{{localize "earthdawn.p.physicalArmor"}}</th>
        <th>{{localize "earthdawn.m.mysticArmor"}}</th>
        <th></th>
        <th class="centered">
            <a class="item-control item-create" data-type='shield' title="{{localize 'earthdawn.i.itemCreate'}}">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </tr>

    {{#each shields as |shield i|}}
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/shield-card.hbs' shield}}
    {{/each}}
</table>
