{{#if (getTalentSort 'Split')}}
    <div class="item-name no-flex">
        <h3>{{localize "earthdawn.d.disciplineTalents"}}</h3>
    </div>
    <table>
        <tr>
            <th class="item-image margin-right-5"></th>
            <th>{{localize "earthdawn.n.name"}}</th>
            <th>{{localize "earthdawn.r.rank"}}</th>
            <th>{{localize "earthdawn.a.attribute"}}</th>
            <th>{{localize "earthdawn.s.step"}}</th>
            <th>{{localize "earthdawn.a.action"}}</th>
            <th>{{localize "earthdawn.s.strain"}}</th>
            <th class="centered">
                <a class="item-control item-create" data-type="talent" title="{{localize 'earthdawn.t.talentCreate'}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>

        {{#each (getTalentType talents 'Discipline') as |talent i|}}
            {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/talent-card.hbs' talent knacks=../knacks attributes=../data}}
        {{/each}}
    </table>

    <hr class="no-flex">

    <div class="item-name no-flex">
        <h3>{{localize "earthdawn.o.optionalTalents"}}</h3>
    </div>
    <table>
        <tr>
            <th class="item-image margin-right-5"></th>
            <th>{{localize "earthdawn.n.name"}}</th>
            <th>{{localize "earthdawn.r.rank"}}</th>
            <th>{{localize "earthdawn.a.attribute"}}</th>
            <th>{{localize "earthdawn.s.step"}}</th>
            <th>{{localize "earthdawn.a.action"}}</th>
            <th>{{localize "earthdawn.s.strain"}}</th>
            <th class="centered">
                <a class="item-control item-create" data-type="talent" title="{{localize 'earthdawn.t.talentCreate'}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>

        {{#each (getTalentType talents 'Option') as |talent i|}}
            {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/talent-card.hbs' talent knacks=../knacks attributes=../data}}
        {{/each}}
    </table>

    <hr class="no-flex">

    <div class="item-name no-flex">
        <h3>{{localize "earthdawn.f.freeTalents"}}</h3>
    </div>
    <table>
        <tr>
            <th class="item-image margin-right-5"></th>
            <th>{{localize "earthdawn.n.name"}}</th>
            <th>{{localize "earthdawn.r.rank"}}</th>
            <th>{{localize "earthdawn.a.attribute"}}</th>
            <th>{{localize "earthdawn.s.step"}}</th>
            <th>{{localize "earthdawn.a.action"}}</th>
            <th>{{localize "earthdawn.s.strain"}}</th>
            <th class="centered">
                <a class="item-control item-create" data-type="talent" title="{{localize 'earthdawn.t.talentCreate'}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>

        {{#each (getTalentType talents 'Free') as |talent i|}}
            {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/talent-card.hbs' talent knacks=../knacks attributes=../data}}
        {{/each}}
    </table>
{{else}}
    <table>
        <tr>
            <th class="item-image margin-right-5"></th>
            <th>{{localize "earthdawn.n.name"}}</th>
            <th>{{localize "earthdawn.r.rank"}}</th>
            <th>{{localize "earthdawn.a.attribute"}}</th>
            <th>{{localize "earthdawn.s.step"}}</th>
            <th>{{localize "earthdawn.a.action"}}</th>
            <th>{{localize "earthdawn.s.strain"}}</th>
            <th class="centered">
                <a class="item-control item-create" data-type="talent" title="{{localize 'earthdawn.t.talentCreate'}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>

        {{#each talents as |talent i|}}
            {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/talent-card.hbs' talent knacks=../knacks attributes=../data}}
        {{/each}}
    </table>
{{/if}}
