<div class="item-name no-flex">
    <h3>{{localize "earthdawn.w.weapons"}}</h3>
</div>
<table>
    <tr>
        <th class="item-image margin-right-5"></th>
        <th>{{localize "earthdawn.n.name"}}</th>
        <th>{{localize "earthdawn.d.damage"}}</th>
        <th>{{localize "earthdawn.e.equipped"}}</th>
        <th class="centered">
            <a class="item-control item-create" data-type='weapon' title="{{localize 'earthdawn.i.itemCreate'}}">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </tr>

    {{#each weapons as |weapon i|}}
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/weapon-card.hbs' weapon}}
    {{/each}}
</table>
