<option value="">-none-</option>
<option value="carryingcapacity">{{localize "earthdawn.e.encumbranceCarryingCapacity"}}</option>
<option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
<option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
<option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
<option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
<option value="physicaldefense">{{localize "earthdawn.d.defensePhysical" }}</option>
<option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
<option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
<option value="recovery">{{localize "earthdawn.r.recovery"}}</option>
{{#if (uneq item.type 'discipline')}}
    <option value="durability">{{localize "earthdawn.d.durability"}}</option>
{{/if}}
{{!-- {{#each talents as |talent id|}}
    {{name}}
{{/each}} --}}