{{#if (eq data.isthread true)}}
	<div class="static">
		<!-- Navigator -->
		<hr class="line-simple">
		<div class="static thread-nav">
			<h3 class="centered">{{localize "earthdawn.n.navigator"}}</h3>
			<nav class="tabs centered" data-group="primary">
				<a data-tab="information">{{localize "earthdawn.i.information"}}</a>
				<a data-tab="threadInformation">{{localize "earthdawn.t.threadInformation"}}</a>
			</nav>
		</div>
		<hr class="line-simple">
		<!-- Sheet Body -->
		<div class="sheet-body">
			<!-- Thread Item information -->
			<div class="tab fixedHeight" data-group="primary" data-tab="information">
				<h3>{{localize "earthdawn.i.information"}}</h3>
				{{editor content=data.descriptionThreadItem target="data.descriptionThreadItem" button=true owner=owner editable=editable}}
			</div>
			<!-- see thread-item-tab.hbs -->
			<div class="tab" data-group="primary" data-tab="threadInformation">
				<div>{{> "systems/earthdawn4e/templates/items/partials/thread-items-tab.hbs"}}</div>
			</div>
		</div>
	</div>
{{else}}
<!-- non-Thread Item Information-->
	<div class="static flexColumn">
		<div class="flexColumn">
			<h4>{{localize "earthdawn.l.labelItemDescription"}}</h4>
			{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
		</div>
	</div>
{{/if}}
