<div class="characteristicsTab">
    <h2>{{localize "earthdawn.c.characteristics"}}</h2>
    <section name="leftbar">
        <!--Leftbar-->
        <section class="characteristicsLeftBar">
            <!--Defenses-->
            <section>
                <div name="defenses">
                    <div class="centeredInput showHidden">       
                        <h3><a class="show-hidden">{{localize "earthdawn.d.defense"}}</a></h3>
                        <div class="partial-three">
                            <div>
                                <span class="lineBreak" name="defensePhysical">{{localize "earthdawn.d.defensePhysical"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="data.physicaldefense" type="text" value="{{data.physicaldefense}}" data-dtype="Number" {{#if (eq actor.data.type "pc")}} readonly{{/if}}/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span class="lineBreak" name="defenseMagical">{{localize "earthdawn.d.defenseMagical"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="data.mysticdefense" type="text" value="{{data.mysticdefense}}" data-dtype="Number" {{#if (eq actor.data.type "pc")}}readonly{{/if}}/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span class="lineBreak" name="defenseSocial">{{localize "earthdawn.d.defenseSocial"}}</span>      
                            </div>
                            <div>    
                                <input class="circleInput" name="data.socialdefense" type="text" value="{{data.socialdefense}}" data-dtype="Number" {{#if (eq actor.data.type "pc")}} readonly {{/if}}/>
                            </div>
                        </div>
                            <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                                <div class="partial-three padding-top-5">
                                    <div>
                                        <span class="lineBreak" name="defensePhysical">{{localize "earthdawn.m.modifier"}}</span>
                                    </div>
                                    <div>
                                        <input class="circleInput" name="data.overrides.physicaldefense" type="text" value="{{data.overrides.physicaldefense}}" data-dtype="Number"/>
                                    </div>
                                </div>
                                <div class="partial-three padding-top-5">
                                    <div>
                                        <span class="lineBreak" name="defenseMagical">{{localize "earthdawn.m.modifier"}}</span>
                                    </div>
                                    <div>
                                        <input class="circleInput" name="data.overrides.mysticdefense" type="text" value="{{data.overrides.mysticdefense}}" data-dtype="Number"/>
                                    </div>
                                </div>
                                <div class="partial-three padding-top-5">
                                    <div>
                                        <span class="lineBreak" name="defenseSocial">{{localize "earthdawn.m.modifier"}}</span>      
                                    </div>
                                    <div>    
                                        <input class="circleInput" name="data.overrides.socialdefense" type="text" value="{{data.overrides.socialdefense}}" data-dtype="Number"/>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
            <section>
                <div name="health">
                    <div class="centeredInput showHidden space">
                        <h3><a class="show-hidden">{{localize "earthdawn.h.healthRating"}}</a></h3>
                        <div class="partial-three">
                            <div>
                                <span name="damageValue">{{localize "earthdawn.d.damageCurrent"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="data.damage.value" type="text" value="{{data.damage.value}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span name="woundValue">{{localize "earthdawn.w.woundThreshold"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="data.woundThreshold" type="text" value="{{data.woundThreshold}}" data-dtype="Number" {{#if (eq actor.data.type "pc")}}readonly {{/if}}/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span name="wounds">{{localize "earthdawn.w.woundsAmount"}}</span>
                            </div>
                            <br>
                            <div>
                                <input class="circleInput" name="data.wounds" type="text" value="{{data.wounds}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                            <div class="partial-three padding-top-5">
                                
                            </div>
                            <div>
                                
                            </div>
                            <div class="partial-three padding-top-5">
                                <div class="centered">
                                    <span class="centered" name="woundValue">{{localize "earthdawn.m.modifier"}}</span>
                                </div>
                                <div class="centered">
                                    <input class="circleInput" name="data.overrides.woundthreshold" type="text" value="{{data.overrides.woundthreshold}}" data-dtype="Number" />
                                </div>
                            </div>
                            <div class="partial-three">
                                <div>
                                </div>
                                <br>
                                <div>

                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="recovery showHidden space">
                    <div class="centeredInputNoSpaceing space">
                    <h3><a class="show-hidden centeredInput">{{localize "earthdawn.r.recovery"}}</a></h3>
                        <div class="partial-two">
                            <div>
                                <label></label>{{localize "earthdawn.r.recovery"}}</label>
                                <a class="fas fa-first-aid recovery-roll" title="{{localize "earthdawn.r.recovery"}}"></a>
                            </div>
                            <div>
                                <input class="circleInput" name="data.recoverytestscurrent" type="text" value="{{data.recoverytestscurrent}}" data-dtype="Number" />   
                            </div>

                        </div>
                        <div class="partial-two">
                            <div class="centered">
                                <span class="centered" name="daily">{{localize "earthdawn.r.recoveryTestPerDay"}}</span>
                            </div>
                            <div class="centered">
                                <input class="circleInput" name="data.recoverytestsrefreshFinal" type="text" value="{{data.recoverytestsrefreshFinal}}" data-dtype="Number" {{#if (eq actor.data.type "pc")}}readonly {{/if}} />
                            </div>
                        </div>
                    </div>
                    <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                        <div class="partial-two">
                            <div>
                                </div>
                                <br>
                                <div>
                                </div>
                        </div>
                        <div class="partial-two">
                            <div class="centered">
                                <span class="centered" name="daily">{{localize "earthdawn.m.modifier"}}</span>
                            </div>
                            <div class="centered">
                                <input class="circleInput" name="data.overrides.recoverytestsrefresh" type="text" value="{{data.overrides.recoverytestsrefresh}}" data-dtype="Number"/> 
                            </div>
                        </div>   
                    </div>     
                </div>

            </section>   
        </section>
    </section>

    <section name="rightbar">
        <!-- Rightbar-->
        <section class="characteristicsRightBar">
            <!-- Armor -->
            <div name="armor">
                <div class="centeredInput showHidden">
                    <h3><a class="show-hidden">{{localize "earthdawn.a.armorRating"}}</a></h3>
                    <div class="partial-two">
                        <div>
                            <span>{{localize "earthdawn.a.armorPhysical"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="data.physicalarmor" type="text" value="{{data.physicalarmor}}" data-dtype="Number" {{#if (eq actor.data.type "pc")}}readonly {{/if}}/>
                        </div>
                    </div>
                    <div class="partial-two">
                        <div>
                            <span>{{localize "earthdawn.a.armorMystical"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="data.mysticarmor" type="text" value="{{data.mysticarmor}}" data-dtype="Number" {{#if (eq actor.data.type "pc")}}readonly {{/if}} />
                        </div>
                    </div>
                    <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                        <div class="partial-two padding-top-5">
                        <div>
                            <span>{{localize "earthdawn.m.modifier"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="data.overrides.physicalarmor" type="text" value="{{data.overrides.physicalarmor}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="partial-two padding-top-5">
                        <div>
                            <span>{{localize "earthdawn.m.modifier"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="data.overrides.mysticarmor" type="text" value="{{data.overrides.mysticarmor}}" data-dtype="Number"/>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Health rating  -->
            <div name="healthratings">
                <div class="centeredInput showHidden space">
                    <h3><a class="show-hidden">{{localize "earthdawn.h.healthRating"}}</a></h3>
                    <div class="partial-two">
                        <div>
                            <span>{{localize "earthdawn.u.unconsciousnessRating"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" {{#if (eq actor.data.type 'pc')}}name="data.unconscious.max" value="{{data.unconscious.max}}"{{else}}name="data.unconsciousThreshold" value="{{data.unconsciousThreshold}}" {{/if}} type="text" data-dtype="Number" {{#if (eq actor.data.type "pc")}}readonly {{/if}}/>
                        </div>
                    </div>
                    <div class="partial-two">
                        <div>
                            <span>{{localize "earthdawn.d.deathRating"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" {{#if (eq actor.data.type 'pc')}}name="data.damage.max" value="{{data.damage.max}}"{{else}}name="data.deathThreshold" value="{{data.deathThreshold}}" {{/if}}type="text" data-dtype="Number" {{#if (eq actor.data.type "pc")}}readonly {{/if}}/>
                        </div>
                    </div>
                    <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                        <div class="partial-two padding-top-5">
                            <div>
                                <span>{{localize "earthdawn.m.modifier"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="data.overrides.unconsciousrating" type="text" value="{{data.overrides.unconsciousrating}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="partial-two padding-top-5">
                            <div>
                                <span>{{localize "earthdawn.m.modifier"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="data.overrides.deathrating" type="text" value="{{data.overrides.deathrating}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bloodmagic-->
            <div class="centeredInput showHidden space">
                <div class="centeredInput">
                    <h3><a class="show-hidden">{{localize "earthdawn.b.bloodMagic"}}</a></h3>
                    <div class="partial-two">
                        <div name="bloodMagicDamage" class="centered">
                            {{localize "earthdawn.d.damage"}}
                        </div>
                        <div class="centeredInput">
                            {{#if (eq actor.data.type 'pc')}}
                            <input class="circleInput" name="data.bloodMagicDamage" type="text" value="{{data.bloodMagicDamage}}" data-dtype="Number" readonly/> 
                            {{else}}  
                            <input class="circleInput" name="data.bloodMagicDamage" type="text" value="{{data.bloodMagicDamage}}" data-dtype="Number" /> 
                            {{/if}}

                        </div>
                    </div>
                    <div class="partial-two">
                        <div name="bloodMagicWounds" class="centered">
                            {{localize "earthdawn.w.woundsAmount"}}
                        </div>
                        <div class="centeredInput">
                            {{#if (eq actor.data.type 'pc')}}
                            <input class="circleInput" name="data.bloodMagicWounds" type="text" value="{{data.bloodMagicWounds}}" data-dtype="Number" readonly/>   
                            {{else}}
                            <input class="circleInput" name="data.bloodMagicWounds" type="text" value="{{data.bloodMagicWounds}}" data-dtype="Number" /> 
                            {{/if}}  
                        </div>
                    </div> 
                </div>
                <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                    <div class="partial-two">
                        <div name="bloodMagicDamage" class="centered">
                            {{localize "earthdawn.m.modifier"}}
                        </div>
                        <div class="centeredInput">
                            <input class="circleInput" name="data.overrides.bloodMagicDamage" type="text" value="{{data.overrides.bloodMagicDamage}}" data-dtype="Number"/>   
                        </div>
                    </div>
                    <div class="partial-two">
                        <div name="bloodMagicWounds" class="centered">
                            {{localize "earthdawn.m.modifier"}}
                        </div>
                        <div class="centeredInput">
                            <input class="circleInput" name="data.overrides.bloodMagicWounds" type="text" value="{{data.overrides.bloodMagicWounds}}" data-dtype="Number"/>   
                        </div>
                    </div> 
                </div>           
            </div>
           
            <!-- Movement-->
            <div name="movement">
                <div class="centeredInput showHidden space">
                    <h3><a class="show-hidden">{{localize "earthdawn.m.movement"}}</a></h3>
                    <div class="centered">
                        <!-- <div>
                            <span>{{localize "earthdawn.m.movementNormal"}}</span>
                        </div> -->
                        <div>
                            {{#if (eq actor.data.type 'pc')}}
                            <input class="circleInput" name="data.movementFinal" type="text" value="{{data.movementFinal}}" data-dtype="Number" readonly/>
                            {{else}}
                            <input class="circleInput" name="data.movement" type="text" value="{{data.movement}}" data-dtype="Number" />
                            {{/if}}

                        </div>
                    </div>
                
                    <div style="display: none" class="hidden-tab hidden-tab-modifier space-smaller">
                        <div>
                            <span>{{localize "earthdawn.m.modifier"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="data.overrides.movement" type="text" value="{{data.overrides.movement}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>

    </section>
</div>
