<div class="creatureCombatTab">
    <!-- initiative -->
    <div class="creatureInitiative centered">
        <div>
            <div class="circleLeft">
                <label>{{localize "earthdawn.i.initiative"}} </label>
                <input class="step-display" name="data.initiativeStep" type="text" value="{{data.initiativeStep}}" />
            </div>
            <div class="circleMiddle">
                <label>{{localize "earthdawn.i.initiativeDice"}} </label>
                <input class="step-display" name="data.initiativeDice" type="text" value="{{data.initiativeDice}}"/>
            </div> 
            <div class="circleRight">
                <label>{{localize "earthdawn.a.attacks"}} </label>
                <input class="step-display" name="data.attacks" type="text" value="{{data.attacks}}"/>
            </div>                 
        </div>
        <div>
            <div class="circleLeft">
                <label>{{localize "earthdawn.k.knockdownStep"}} </label>
                <input class="step-display" name="data.knockdown" type="text" value="{{data.knockdown}}" />
            </div>
            <div class="circleMiddle">
                <label>{{localize "earthdawn.r.recovery"}} </label>
                <input class="step-display" name="data.recoverytests" type="text" value="{{data.recoverytests}}" />
            </div>
            <div class="circleRight space-smaller">
                
                    <button class="buttonAction take-damage">{{localize "earthdawn.t.takeDamage"}}</button>
                
            </div>  
        </div>
    </div>
    <div class="creatureActions">
        <div class="creatureLeftBar">
            <h3 class="centered">{{localize "earthdawn.c.combatModifier"}}</h3>
            <!-- combat modifier -->
            <div class="combatOptions">
                <h4>{{localize "earthdawn.c.combatOptions"}}</h4>
            </div>  
            <div  class="text-align-middle">
                <input class="actionOption" type="checkbox" name="data.tactics.aggressive" {{checked data.tactics.aggressive}}>
                <label class="vertialAlignMiddle">{{localize "earthdawn.c.combatOptionsAggressive"}}</label>
            </div>
            <div  class="text-align-middle">
                <input class="actionOption" type="checkbox" name="data.tactics.defensive" {{checked data.tactics.defensive}}  title="{{localize 'earthdawn.a.combatOptionsDefensive'}}">
                <label class="vertialAlignMiddle">{{localize "earthdawn.c.combatOptionsDefensive"}}</label>
            </div>
            &nbsp;
            <!-- Situation modifier -->
            <h4>{{localize "earthdawn.c.combatSituationModifier"}}</h4>
            <div  class="text-align-middle">
                <input class="actionOption " type="checkbox" title="{{localize 'earthdawn.c.combatModifierKnockedDown'}}" {{checked data.tactics.knockeddown}} name="data.tactics.knockeddown" title="{{localize 'earthdawn.a.combatModifierKnockedDown'}}">
                <label class="vertialAlignMiddle">
                    {{localize "earthdawn.c.combatModifierKnockedDown"}}
                </label>
            </div>
            <div  class="text-align-middle">
                <input class="actionOption " type="checkbox" title="{{localize 'earthdawn.c.combatModifierHarried'}}" {{checked data.tactics.harried}} name="data.tactics.harried" title="{{localize 'earthdawn.a.combatModifierHarried'}}">
                <label class="vertialAlignMiddle">
                    {{localize "earthdawn.c.combatModifierHarried"}}
                </label>
            </div>
            
        </div>
        <div class="creatureRightBar centered creatureButtons">
            <h3>{{localize "earthdawn.a.action"}}</h3>
            <div class="padding-left-8 ">
                <button class="buttonAction knockdown-test">{{localize "earthdawn.c.combatOptionsKnockdownTest"}}</button>
            </div>
            <div class="padding-left-8">
                <button class="buttonAction jump-up">{{localize "earthdawn.c.combatOptionsJumpUp"}}</button>
            </div>
        </div>
    </div>
    <div class="effects ">  
        <table>
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.e.effects"}}
            </div>
            <a class="effect-add" data-type="effect" title="{{localize "earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
            <tr>
                <div class="item-list effects-list">
                    {{#each effects as |effects id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/effects-card.hbs" effects}}
                    {{/each}}
                </div>
            </tr>
        </table> 
    </div>
    <div class="creatureInformation">
        <h3 class="centered">{{localize "earthdawn.i.information"}}</h3>
        <div class="flexDescription">
            {{editor content=data.descriptionGameInfo target="data.descriptionGameInfo" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
