<div class="creatureBackgroundInformation">
  <div class="creatureChallenge">
    <table class="creatureStatsTable">
      <tr>
        <td>
          <label>{{localize "earthdawn.c.challenge"}}</label>
        </td>
        <td>
          <input
            name="data.challenge"
            type="text"
            value="{{data.challenge}}"
            data-dtype="String"
          />
        </td>
      </tr>
    </table>
  </div>
  <div class="creatureInformation">
    <h3 class="centered">{{localize "earthdawn.i.information"}}</h3>
    <div class="flexDescription">
      {{editor
        content=data.description
        target="data.description"
        button=true
        owner=owner
        editable=editable
      }}
    </div>
  </div>
</div>