<div
  class="devotion-card item item-draggable item-card devotion-info item-name border"
  data-item-id="{{_id}}"
>
  <span class="oneLine text-align-middle">
    <a class="talent-roll text-align-middle" title="Click to Roll Devotion">
      <img
        src="{{img}}"
        data-edit="img"
        title="{{name}}"
        height="25"
        width="25"
      />
      {{name}}
    </a>
  </span>
</div>
