<div class="discipline-info">
  <div class="disciplin-info item-name" data-item-id="{{_id}}">
    <span class="oneLine">
      <a class="item-edit partial-two">
        &nbsp;{{name}}
      </a>
      <a class="partial-two">
        {{data.circle}}
      </a>
      <a class="item-control item-delete itemControlGroup" title="Delete Item">
        <i class="fas fa-trash"></i>
      </a>
    </span>
  </div>
</div>
