<div class="effects-info effects-card item-name border" data-item-id="{{_id}}">
  <span class="oneLine text-align-middle">
    <a class="effects partial-three text-align-middle">
      <img src="{{icon}}" data-edit="icon" title="{{label}}" height="25" width="25" />
      &nbsp;{{label}}
    </a>
    <a class="partial-three text-align-middle">
      {{localize "earthdawn.d.duration"}}:
      {{duration.rounds}}
    </a>
    {{localize "earthdawn.a.active"}}:
    <input type="checkbox" class="link-checkbox-effect" name="disabled" data-dtype="Boolean" {{checked (not disabled)}} />
    <a class="itemControlGroup">
      <a class="item-control effect-delete text-align-middle" title="Delete Item">
        <i class="fas fa-trash"></i>
      </a>
      <a class="item-control effect-edit text-align-middle" title="Edit Item">
        <i class="fas fa-edit"></i>
      </a>
    </a>
  </span>
</div>
