<div
  class="equipment-card equipment-info item-name border"
  data-item-id="{{_id}}"
>
  <span class="oneLine text-align-middle">
    <a class="text-align-middle">
      <img
        src="{{img}}"
        data-edit="img"
        title="{{name}}"
        height="25"
        width="25"
      />
      &nbsp;{{name}}
    </a>
    <a class="itemControlGroup text-align-middle">
      <a class="item-control item-display" title="Display Item">
        <i class="fas fa-comments"></i>
      </a>
      <a class="item-control item-delete text-align-middle" title="Delete Item">
        <i class="fas fa-trash"></i>
      </a>
      <a class="item-control item-edit text-align-middle" title="Edit Item">
        <i class="fas fa-edit"></i>
      </a>
    </a>
  </span>
</div>
