<div
  class="knack-card item item-draggable item-card knack-info item-name border"
  data-item-id="{{_id}}"
>
  <span class="indented oneLine textAlignMiddle">
    <a
      class="Knack-roll textAlignMiddle"
      title="{{localize "earthdawn.c.clickKnack"}}"
    > 
      <img
        src="{{img}}"
        data-edit="img"
        title="{{name}}"
        height="25"
        width="25"
      />
      {{name}}
    </a>


    <a class="itemControlGroup">
      <a class="item-control item-display" title="Display Item">
        <i class="fas fa-comments"></i>
      </a>
      <a class="item-control item-delete" title="Delete Item">
        <i class="fas fa-trash"></i>
      </a>
      <a class="item-control item-edit" title="Edit Item">
        <i class="fas fa-edit"></i>
      </a>
    </a>
  </span>
</div>