<div class="talent-info item-draggable item-name border" data-item-id="{{_id}}">     
    <div class="matrix-top">
        <span>
            <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25"/>
            &nbsp;{{name}} 
        </span>
        <a class="attuneMatrix matrix-button" style="font-weight: 800; background-color: red; border: 1px; border-radius: 2px; padding: 4px">{{localize "earthdawn.a.attune"}}</a>
        <a class="weaveThread matrix-button" style="font-weight: 800; background-color: red; border: 1px; border-radius: 2px; padding: 4px">{{localize "earthdawn.m.matrixWeaveRed"}}</a>
        <a class="castSpell matrix-button" style="font-weight: 800; background-color: red; border: 1px; border-radius: 2px; padding: 4px">{{localize "earthdawn.m.matrixCastRed"}}</a>
        <a class="clearMatrix matrix-button" style="font-weight: 800; background-color: red; border: 1px; border-radius: 2px; padding: 4px">{{localize "earthdawn.m.matrixClearRed"}}</a>
    </div>
    {{!-- <span>Test: {{this.disciplines[0].name}}</span> --}}
    <div class="matrix-bottom">
        <span class="oneLine text-align-middle">
            <span class="partial-four text-align-middle">
                {{localize "earthdawn.s.spell"}}: {{data.currentspell}} 
            </span>
            <span class="partial-four text-align-middle">
                {{localize "earthdawn.s.spellThreadsNeeded"}}: {{data.totalthreadsneeded}} 
            </span>
            <span class="partial-four text-align-middle">
                {{localize "earthdawn.s.spellThreadsActive"}}: {{data.activethreads}}
            </span>
            <span class="partial-four text-align-middle">
                {{localize "earthdawn.w.weavingDifficulty"}}: {{data.weavingdifficulty}}
            </span>
            <a class="itemControlGroup text-align-middle">
                <a class="item-control item-delete text-align-middle" title="Delete Item">
                    <i class="fas fa-trash"></i>
                </a>
                <a class="item-control item-edit text-align-middle" title="Edit Item">
                    <i class="fas fa-edit"></i>
                </a>
            </a>
        </span>
    </div>
</div>
