<div class="spellsTab">
    <h2>{{localize "earthdawn.s.spells"}}</h2>
<!-- group by discipline-->
    <table id="spellsTab">
        {{#if (getSpellSort 'Split')}}
            {{#each (highestCircle spells) as |circle i|}}
            <div class="item-name no-flex">
                <h3>{{localize "earthdawn.g.grimoire"}} {{localize "earthdawn.c.circle"}} {{circle}}</h3>
            </div>
            <tr>
                
                    {{#each (getCircleSpells circle ../spells) as |spell i|}}
                        {{> "systems/earthdawn4e/templates/actors/partials/spell-card.hbs" spell}}
                            {{#each (getSpellKnacks spell ../../knacks) as |knack id|}}
                            {{> "systems/earthdawn4e/templates/actors/partials/knack-card.hbs" knack}}
                        {{/each}}
                    {{/each}}
                    
            </tr>
            &nbsp;
            {{/each}}
        {{else}}
            <h3>{{localize "earthdawn.g.grimoire"}}</h3>
            <tr>
                
                    {{#each spells as |spell id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/spell-card.hbs" spell}}
                    {{#each (getSpellKnacks spell ../knacks) as |knack id|}}
                            {{> "systems/earthdawn4e/templates/actors/partials/knack-card.hbs" knack}}
                        {{/each}}
                    {{/each}}
                
            </tr> 
        {{/if}}
    </table>
    <table class="space-small">
        <tr><h3>{{localize "earthdawn.m.matrixes"}}</h3></tr>
        <tr>
            <div class="item-list matrix-list">
                {{#each matrixes as |matrix id|}}
                {{> "systems/earthdawn4e/templates/actors/partials/matrix-card.hbs" matrix}}
                {{/each}}

            </div>

        </tr>     
    </table>       
</div>
