<div class="LegendTab">
  {{#if (eq actor.data.type "pc")}}
  <h2>{{localize "earthdawn.s.storyNotesLegend"}}</h2>
  <div class="legendPoints">
    <!-- Legend points -->
    <h3>{{localize "earthdawn.l.legend"}}</h3>
    <div class="partialFour">
      <div>
        <label>{{localize "earthdawn.l.legendPointsCurrent"}}</label>
      </div>
      <div>
        <input name="data.legendpointcurrent" type="text" value="{{data.legendpointcurrent}}" data-dtype="Number"/>
      </div>
    </div>
    <div class="partialFour">
      <div>
        <label>{{localize "earthdawn.l.legendPointsSpent"}}</label>
      </div>
      <div>
        <input name="data.legendpointspent" type="text" value="{{data.legendpointspent}}" data-dtype="Number"/>
      </div>
    </div>
    <div class="partialFour">
      <div>
        <label>{{localize "earthdawn.l.legendPointsTotal"}}</label>
      </div>
      <div>
        <input name="data.legendpointtotal" type="text" value="{{data.legendpointtotal}}" data-dtype="Number"/>
      </div>
    </div>
      <div class="partialFour">
          <div>
              <label>{{localize "earthdawn.l.legendStatus"}}</label>
          </div>
          <div>
              <input name="data.legendStatus" type="text" value="{{data.legendStatus}}" data-dtype="String"/>
          </div>
      </div>
      <!-- Other calculations etc. -->
      &nbsp;
      <div class="spaceSmaller">
          <h3>{{localize "earthdawn.a.attributeUnspent"}}</h3>
          <input name="data.unspentattributepoints" type="text" value="{{data.unspentattributepoints}}" data-dtype="Number"/>
      </div>
      &nbsp;
      <!-- Thread to true Pattern -->
      <div class="spaceSmaller">
          <table>
              <h3 class="headerLine">
                  <div>
                      {{localize "earthdawn.t.threadsPersonal"}}
                  </div>
                  <a class="item-create" data-type="thread" title="{{localize "earthdawn.n.newItem" }}">
                      <I class="fas fa-plus"></I>
                  </a>
              </h3>
              <tr>
                  {{#each threads as |thread id|}}
                      {{> "systems/earthdawn4e/templates/actors/partials/thread-card.hbs" thread}}
                  {{/each}}
              </tr>
          </table>
      </div>
      &nbsp;
    <div class="storyNotesTab space-small">
      <h3>{{localize "earthdawn.n.notes"}}</h3>
      <div class="flexColumn">
        {{editor
          content=data.description
          target="data.description"
          button=true
          owner=owner
          editable=editable
        }}
      </div>
    </div>
  {{else}}
    <div class="storyNotesTabNPC space-small">
      <h3>{{localize "earthdawn.n.notes"}}</h3>
      <div class="flexColumn">
        {{editor
          content=data.description
          target="data.description"
          button=true
          owner=owner
          editable=editable
        }}
      </div>
    </div>
  {{/if}}
  {{#if (eq actor.data.type "pc")}}<div class="showHidden">
      <h3><a class="show-hidden">{{localize "Character Creation"}}</a></h3>
      <!-- to hide remove the 1 in the class="automatedAttributeCalculation1"-->
      <div class="automatedAttributeCalculation hidden-tab">
        <button class="buttonAction finalizeBuild">Finalize Build</button>
        <input
          name="data.totalremaining"
          value="{{data.totalremaining}}"
          readonly
        />

        <table class="">
          <tr class="">
            <td class="">{{localize "earthdawn.a.attribute"}}</td>
            <td class="">{{localize "Base"}}</td>
            <td class="">{{localize "Points Added"}}</td>
            <td class="">{{localize "Total"}}</td>
            <td class="">{{localize "Points Cost"}}</td>
          </tr>
          <tr class="">
            <td class="">{{localize "earthdawn.d.dexterity"}}</td>
            <td class=""><input
                name="dexterity"
                style="width: 30px"
                value="{{namegiver.dexterity}}"
                readonly
              /></td>
            <td class=""><a
                class="att-change-button"
                data-att="dexterity"
                data-direction="minus"
              ><i class="fas fa-minus-circle"></i></a><input
                style="width: 30px"
                data-att="dexterity"
                name="data.dexterityadded"
                value="{{data.dexterityadded}}"
                readonly
              /><a
                class="att-change-button"
                data-att="dexterity"
                data-direction="plus"
              ><i class="fas fa-plus-circle"></i></a></td>
            <td class=""><input
                name="data.dexteritytotal"
                style="width: 30px"
                value="{{data.dexteritytotal}}"
                readonly
              /></td>
            <td class=""><input
                name="data.dexteritypoints"
                style="width: 30px"
                value="{{data.dexteritypoints}}"
                readonly
              /></td>

          </tr>
          <tr class="">
            <td class="">{{localize "earthdawn.s.strength"}}</td>
            <td class=""><input
                name="strength"
                style="width: 30px"
                value="{{namegiver.strength}}"
                readonly
              /></td>
            <td class=""><a
                class="att-change-button"
                data-att="strength"
                data-direction="minus"
              ><i class="fas fa-minus-circle"></i></a><input
                class="attribute-change"
                style="width: 30px"
                data-att="strength"
                name="data.strengthadded"
                value="{{data.strengthadded}}"
                readonly
              /><a
                class="att-change-button"
                data-att="strength"
                data-direction="plus"
              ><i class="fas fa-plus-circle"></i></a></td>
            <td class=""><input
                name="data.strengthtotal"
                style="width: 30px"
                value="{{data.strengthtotal}}"
                readonly
              /></td>
            <td class=""><input
                name="data.strengthpoints"
                style="width: 30px"
                value="{{data.strengthpoints}}"
                readonly
              /></td>
          </tr>
          <tr class="">
            <td class="">{{localize "earthdawn.t.toughness"}}</td>
            <td class=""><input
                name="toughness"
                style="width: 30px"
                value="{{namegiver.toughness}}"
                readonly
              /></td>
            <td class=""><a
                class="att-change-button"
                data-att="toughness"
                data-direction="minus"
              ><i class="fas fa-minus-circle"></i></a><input
                class="attribute-change"
                style="width: 30px"
                data-att="toughness"
                name="data.toughnessadded"
                value="{{data.toughnessadded}}"
                readonly
              /><a
                class="att-change-button"
                data-att="toughness"
                data-direction="plus"
              ><i class="fas fa-plus-circle"></i></a></td>
            <td class=""><input
                name="data.toughnesstotal"
                style="width: 30px"
                value="{{data.toughnesstotal}}"
                readonly
              /></td>
            <td class=""><input
                name="data.toughnesspoints"
                style="width: 30px"
                value="{{data.toughnesspoints}}"
                readonly
              /></td>
          </tr>
          <tr class="">
            <td class="">{{localize "earthdawn.p.perception"}}</td>
            <td class=""><input
                name="perception"
                style="width: 30px"
                value="{{namegiver.perception}}"
                readonly
              /></td>
            <td class=""><a
                class="att-change-button"
                data-att="perception"
                data-direction="minus"
              ><i class="fas fa-minus-circle"></i></a><input
                class="attribute-change"
                style="width: 30px"
                data-att="perception"
                name="data.perceptionadded"
                value="{{data.perceptionadded}}"
                readonly
              /><a
                class="att-change-button"
                data-att="perception"
                data-direction="plus"
              ><i class="fas fa-plus-circle"></i></a></td>
            <td class=""><input
                name="data.perceptiontotal"
                style="width: 30px"
                value="{{data.perceptiontotal}}"
                readonly
              /></td>
            <td class=""><input
                name="data.perceptionpoints"
                style="width: 30px"
                value="{{data.perceptionpoints}}"
                readonly
              /></td>
          </tr>
          <tr class="">
            <td class="">{{localize "earthdawn.w.willpower"}}</td>
            <td class=""><input
                name="willpower"
                style="width: 30px"
                value="{{namegiver.willpower}}"
                readonly
              /></td>
            <td class=""><a
                class="att-change-button"
                data-att="willpower"
                data-direction="minus"
              ><i class="fas fa-minus-circle"></i></a><input
                class="attribute-change"
                style="width: 30px"
                data-att="willpower"
                name="data.willpoweradded"
                value="{{data.willpoweradded}}"
                readonly
              /><a
                class="att-change-button"
                data-att="willpower"
                data-direction="plus"
              ><i class="fas fa-plus-circle"></i></a></td>
            <td class=""><input
                name="data.willpowertotal"
                style="width: 30px"
                value="{{data.willpowertotal}}"
                readonly
              /></td>
            <td class=""><input
                name="data.willpowerpoints"
                style="width: 30px"
                value="{{data.willpowerpoints}}"
                readonly
              /></td>
          </tr>
          <tr class="">
            <td class="">{{localize "earthdawn.c.charisma"}}</td>
            <td class=""><input
                name="charisma"
                style="width: 30px"
                value="{{namegiver.charisma}}"
                readonly
              /></td>
            <td class=""><a
                class="att-change-button"
                data-att="charisma"
                data-direction="minus"
              ><i class="fas fa-minus-circle"></i></a><input
                class="attribute-change"
                style="width: 30px"
                data-att="charisma"
                name="data.charismaadded"
                value="{{data.charismaadded}}"
                readonly
              /><a
                class="att-change-button"
                data-att="charisma"
                data-direction="plus"
              ><i class="fas fa-plus-circle"></i></a></td>
            <td class=""><input
                name="data.charismatotal"
                style="width: 30px"
                value="{{data.charismatotal}}"
                readonly
              /></td>
            <td class=""><input
                name="data.charismapoints"
                style="width: 30px"
                value="{{data.charismapoints}}"
                readonly
              /></td>
          </tr>
        </table>

      </div>
    </div>{{/if}}

</div>
</div>
