<div class="thread-card item item-draggable item-card thread-info item-name border" data-item-id="{{_id}}">
  <span class="oneLine text-align-middle">
    <span class="armor partialThree text-align-middle">
      <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
      <label class="partialThree text-align-middle">
        {{data.target}}
      </label>
    </span>
    <span class="partialThree text-align-middle">
      {{localize "earthdawn.r.rank"}}:
      {{data.rank}}
    </span>
    <span>
      {{localize "earthdawn.a.active"}}?:
      <input type="checkbox" class="link-checkbox" name="data.active" data-dtype="Boolean" {{checked data.active}} />
    </span>
    <a class="itemControlGroup">
      <a class="item-control item-display" title="Display Item">
        <i class="fas fa-comments"></i>
      </a>
      <a class="item-control item-delete text-align-middle" title="Delete Item">
        <i class="fas fa-trash"></i>
      </a>
      <a class="item-control item-edit text-align-middle" title="Edit Item">
        <i class="fas fa-edit"></i>
      </a>
    </a>

  </span>
</div>
