<div class="weapon-card">
  <div
    class="weapon-info item-draggable item-name border"
    data-item-id="{{_id}}"
  >
    <span class="oneLine text-align-middle">
      <a
        class="attack-roll partial-four text-align-middle"
        title="Click to Roll Attack"
      >
        <img
          src="{{img}}"
          data-edit="img"
          title="{{name}}"
          height="25"
          width="25"
        />
        &nbsp;{{name}}
      </a>

      <a class="partial-four text-align-middle effectTest">
        

      </a>
      <a class="partial-four text-align-middle effectTest">
        {{localize "earthdawn.d.damage"}}:
        {{data.damageFinal}}
        <i class="effectTest fas fa-dice" title="click to Roll Damage"></i>

      </a>
      <a>
        {{localize "earthdawn.e.equipped"}}:
      </a>
      <a>
        <input
          type="checkbox"
          class="link-checkbox"
          name="data.worn"
          data-dtype="Boolean"
          {{checked data.worn}}
          title="{{localize "earthdawn.e.equipped"}}"
        />
      </a>
      <a class="itemControlGroup">
        <a class="item-control item-display" title="Display Item">
          <i class="fas fa-comments"></i>
        </a>
        <a class="item-control item-delete" title="Delete Item">
          <i class="fas fa-trash"></i>
        </a>
        <a class="item-control item-edit" title="Edit Item">
          <i class="fas fa-edit"></i>
        </a>
      </a>

    </span>
  </div>
</div>
