<div class="tab flexrow" data-group="primary" data-tab="thread-description">
    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/sidebars/item-thread-sidebar.hbs"}}

    <div class="tabs-accordion">
        <div class="tab">
            <input type="checkbox" class="accordion-checkbox" id="chck0">
            <label class="tab-label" for="chck0">{{localize "earthdawn.d.description"}}</label>
            <div class="tab-content">
                {{editor content=data.descriptionThreadItem target="data.descriptionThreadItem" button=true owner=owner
                         editable=editable}}
            </div>
        </div>


        {{#each data.threads}}
            {{#if (or ../isGM (eq this.hide false))}}
                <div class="tab">
                    <input type="checkbox" class="accordion-checkbox" id="chck{{inc @index}}">
                    <label class="tab-label" for="chck{{inc @index}}">{{localize "earthdawn.t.thread"}} {{inc
                            @index}}</label>
                    <div class="tab-content">
                        <div class="thread-border">
                            {{#if ../isGM}}
                                <div class='grid grid-2col'>
                                    <label class="checkbox">
                                        <input type="checkbox" name="data.threads.{{@key}}.threadactive" {{checked
                                                data.threadactive}}/> {{ localize "earthdawn.a.active" }}
                                    </label>

                                    <label class="checkbox">
                                        <input type="checkbox" name="data.threads.{{@key}}.hide" {{checked
                                                data.hide}}/> {{ localize "earthdawn.r.reveal" }}
                                    </label>
                                </div>
                            {{/if}}
                            <div>
                                    <textarea Placeholder="{{localize "earthdawn.k.keyKnowledge"}}"
                                              name="data.threads.{{@key}}.keyknowledge" id="keyknowledge" cols="30"
                                              rows="3">{{this.keyknowledge}}</textarea>
                                <textarea Placeholder="{{localize "earthdawn.k.keyKnowledgeTest"}}"
                                          name="data.threads.{{@key}}.testknowledge" id="testknowledge" cols="30"
                                          rows="3">{{this.testknowledge}}</textarea>
                                <textarea Placeholder="{{localize "earthdawn.d.deed"}}"
                                          name="data.threads.{{@key}}.deed" id="deed"
                                          cols="30" rows="3">{{this.deed}}</textarea>
                                <textarea Placeholder="{{localize "earthdawn.e.effect"}}"
                                          name="data.threads.{{@key}}.effect"
                                          id="effect" cols="30" rows="3">{{this.effect}}</textarea>
                            </div>
                            <div class='grid-5col grid'>
                                <label class="grid-span-2">{{localize 'earthdawn.c.characteristic'}}</label>
                                <select class="grid-span-2" name="data.threads.{{@key}}.characteristic"
                                        value="{{this.characteristic}}">
                                    {{#select this.characteristic}}
                                        {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                    {{/select}}
                                </select>
                                <select name="data.threads.{{@key}}.value" value="{{this.value}}">
                                    {{#select this.value}}
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
