<input name="data.totalremaining" value="{{data.totalremaining}}" readonly/>
<table>
	<tr>
		<td>{{localize "earthdawn.a.attribute"}}</td>
		<td>{{localize "earthdawn.b.base"}}</td>
		<td>{{localize "earthdawn.p.pointsAdded"}}</td>
		<td>{{localize "earthdawn.t.total"}}</td>
		<td>{{localize "earthdawn.p.pointsCost"}}</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.d.dexterity"}}</td>
		<td>
			<input name="dexterity" style="width: 30px" value="{{namegiver.dexterity}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="dexterity" data-direction="minus">
				<i class="fas fa-minus-circle"></i>
			</a>
			<input style="width: 30px" data-att="dexterity" name="data.dexterityadded" value="{{data.dexterityadded}}" readonly/>
			<a class="att-change-button" data-att="dexterity" data-direction="plus">
				<i class="fas fa-plus-circle"></i>
			</a>
		</td>
		<td>
			<input name="data.dexteritytotal" style="width: 30px" value="{{data.dexteritytotal}}" readonly/>
		</td>
		<td>
			<input name="data.dexteritypoints" style="width: 30px" value="{{data.dexteritypoints}}" readonly/>
		</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.s.strength"}}</td>
		<td>
			<input name="strength" style="width: 30px" value="{{namegiver.strength}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="strength" data-direction="minus">
				<i class="fas fa-minus-circle"></i>
			</a>
			<input class="attribute-change" style="width: 30px" data-att="strength" name="data.strengthadded" value="{{data.strengthadded}}" readonly/>
			<a class="att-change-button" data-att="strength" data-direction="plus">
				<i class="fas fa-plus-circle"></i>
			</a>
		</td>
		<td>
			<input name="data.strengthtotal" style="width: 30px" value="{{data.strengthtotal}}" readonly/>
		</td>
		<td>
			<input name="data.strengthpoints" style="width: 30px" value="{{data.strengthpoints}}" readonly/>
		</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.t.toughness"}}</td>
		<td>
			<input name="toughness" style="width: 30px" value="{{namegiver.toughness}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="toughness" data-direction="minus">
				<i class="fas fa-minus-circle"></i>
			</a>
			<input class="attribute-change" style="width: 30px" data-att="toughness" name="data.toughnessadded"
				   value="{{data.toughnessadded}}" readonly/>
			<a class="att-change-button" data-att="toughness" data-direction="plus">
				<i class="fas fa-plus-circle"></i>
			</a>
		</td>
		<td>
			<input name="data.toughnesstotal" style="width: 30px" value="{{data.toughnesstotal}}" readonly/>
		</td>
		<td>
			<input name="data.toughnesspoints" style="width: 30px" value="{{data.toughnesspoints}}" readonly/>
		</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.p.perception"}}</td>
		<td>
			<input name="perception" style="width: 30px" value="{{namegiver.perception}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="perception" data-direction="minus">
				<i class="fas fa-minus-circle"></i>
			</a>
			<input class="attribute-change" style="width: 30px" data-att="perception" name="data.perceptionadded" value="{{data.perceptionadded}}" readonly/>
			<a class="att-change-button" data-att="perception" data-direction="plus">
				<i class="fas fa-plus-circle"></i>
			</a>
		</td>
		<td>
			<input name="data.perceptiontotal" style="width: 30px" value="{{data.perceptiontotal}}" readonly/>
		</td>
		<td>
			<input name="data.perceptionpoints" style="width: 30px" value="{{data.perceptionpoints}}" readonly/>
		</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.w.willpower"}}</td>
		<td>
			<input name="willpower" style="width: 30px" value="{{namegiver.willpower}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="willpower" data-direction="minus">
			<i class="fas fa-minus-circle"></i>
		</a>
			<input class="attribute-change" style="width: 30px" data-att="willpower" name="data.willpoweradded" value="{{data.willpoweradded}}" readonly/>
			<a class="att-change-button" data-att="willpower" data-direction="plus">
				<i class="fas fa-plus-circle"></i>
			</a>
		</td>
		<td>
			<input name="data.willpowertotal" style="width: 30px" value="{{data.willpowertotal}}" readonly/>
		</td>
		<td>
			<input name="data.willpowerpoints" style="width: 30px" value="{{data.willpowerpoints}}" readonly/>
		</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.c.charisma"}}</td>
		<td>
			<input name="charisma" style="width: 30px" value="{{namegiver.charisma}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="charisma" data-direction="minus">
				<i class="fas fa-minus-circle"></i>
			</a>
			<input class="attribute-change" style="width: 30px" data-att="charisma" name="data.charismaadded" value="{{data.charismaadded}}" readonly/>
			<a class="att-change-button" data-att="charisma" data-direction="plus">
			<i class="fas fa-plus-circle"></i>
		</a>
		</td>
		<td>
			<input name="data.charismatotal" style="width: 30px" value="{{data.charismatotal}}" readonly/>
		</td>
		<td>
			<input name="data.charismapoints" style="width: 30px" value="{{data.charismapoints}}" readonly/>
		</td>
	</tr>
</table>
