<ol class="override taka-theme">
    {{!-- Defenses Attributes --}}
    <li class="attribute">
        <h4 class="attribute-name box-title">
            {{ localize "earthdawn.d.defenses" }}
        </h4>
        <div class="attribute-value multiple flexrow">
            <input name="data.overrides.physicaldefense" type="number" value="{{data.overrides.physicaldefense}}" placeholder="0"/>
            <span class="sep"> / </span>
            <input name="data.overrides.mysticdefense" type="number" value="{{data.overrides.mysticdefense}}" placeholder="0"/>
            <span class="sep"> / </span>
            <input name="data.overrides.socialdefense" type="number" value="{{data.overrides.socialdefense}}" placeholder="0"/>
        </div>
        <footer class="attribute-footer">
            <span>{{localize "earthdawn.p.physical"}}</span>
            <span class="sep"> / </span>
            <span>{{localize "earthdawn.m.mystic"}}</span>
            <span class="sep"> / </span>
            <span>{{localize "earthdawn.s.social"}}</span>
        </footer>
    </li>

    {{!-- Ratings Attributes --}}
    <li class="attribute">
        <h4 class="attribute-name box-title">{{ localize "earthdawn.r.ratings" }}</h4>
        <div class="attribute-value multiple flexrow">
            <input name="data.overrides.unconsciousrating" type="number" value="{{data.overrides.unconsciousrating}}" placeholder="0"/>
            <span class="sep"> / </span>
            <input name="data.overrides.deathrating" type="number" value="{{data.overrides.deathrating}}" placeholder="0"/>
        </div>
        <footer class="attribute-footer">
            <span>{{localize "earthdawn.u.unconscious"}}</span>
            <span class="sep"> / </span>
            <span>{{localize "earthdawn.d.death"}}</span>
        </footer>
    </li>

    {{!-- Armor Attributes --}}
    <li class="attribute">
        <h4 class="attribute-name box-title">{{ localize "earthdawn.a.armors" }}</h4>
        <div class="attribute-value multiple flexrow">
            <input name="data.overrides.physicalarmor" type="number" value="{{data.overrides.physicalarmor}}" placeholder="0"/>
            <span class="sep"> / </span>
            <input name="data.overrides.mysticarmor" type="number" value="{{data.overrides.mysticarmor}}" placeholder="0"/>
        </div>
        <footer class="attribute-footer">
            <span>{{localize "earthdawn.p.physical"}}</span>
            <span class="sep"> / </span>
            <span>{{localize "earthdawn.m.mystic"}}</span>
        </footer>
    </li>

    {{!-- Wounds Attributes --}}
    <li class="attribute">
        <h4 class="attribute-name box-title">{{ localize "earthdawn.w.wounds" }}</h4>
        <div class="attribute-value multiple flexrow">
            <input name="data.overrides.woundthreshold" type="number" value="{{data.overrides.woundthreshold}}" placeholder="0"/>
        </div>
        <footer class="attribute-footer">
            <span>{{localize "earthdawn.t.threshold"}}</span>
        </footer>
    </li>

    {{!-- Recovery Attributes --}}
    <li class="attribute">
        <h4 class="attribute-name box-title">
            {{ localize "earthdawn.r.recovery" }}
        </h4>
        <div class="attribute-value multiple flexrow">
            <input name="data.overrides.recoverytestscurrent" type="number" value="{{data.overrides.recoverytestscurrent}}" placeholder="0"/>
            <span class="sep"> / </span>
            <input name="data.overrides.recoverytestsrefresh" type="number" value="{{data.overrides.recoverytestsrefresh}}" placeholder="0"/>
        </div>
        <footer class="attribute-footer">
            <span>{{localize "earthdawn.c.current"}}</span>
            <span class="sep"> / </span>
            <span>{{localize "earthdawn.d.daily"}}</span>
        </footer>
    </li>

    {{!-- Blood Magic Attributes --}}
    <li class="attribute">
        <h4 class="attribute-name box-title">{{ localize "earthdawn.b.bloodMagic" }}</h4>
        <div class="attribute-value multiple flexrow">
            <input name="data.overrides.bloodMagicDamage" type="number" value="{{data.overrides.bloodMagicDamage}}" placeholder="0"/>
            <span class="sep"> / </span>
            <input name="data.overrides.bloodMagicWounds" type="number" value="{{data.overrides.bloodMagicWounds}}" placeholder="0"/>
        </div>
        <footer class="attribute-footer">
            <span>{{localize "earthdawn.d.damage"}}</span>
            <span class="sep"> / </span>
            <span>{{localize "earthdawn.w.wounds"}}</span>
        </footer>
    </li>

    {{!-- Movement Attributes --}}
    <li class="attribute">
        <h4 class="attribute-name box-title">{{ localize "earthdawn.m.movement" }}</h4>
        <div class="attribute-value multiple">
            <input name="data.overrides.movement" type="number" value="{{data.overrides.movement}}" placeholder="0"/>
        </div>
    </li>
</ol>
